<div class="page-title dark-background" data-aos="fade" style="background-image: url(static/web_images/solution2.jpeg);">
      <div class="container position-relative">
        <h1>$messages['about_us']</h1>
        
        <!--p>Esse dolorum voluptatum ullam est sint nemo et est ipsa porro placeat quibusdam quia assumenda numquam molestias.</p!-->
        
      </div>
</div>



    


    <!-- Team Section -->
  
    <section id="team" class="portfolio-details section">

      <div style="margin-left: 50px;margin-right: 50px"  >
        <h1 style="text-align: center;margin-bottom: 50px;"><strong>$messages['qai_team']</strong></h1>
        <div class="row gy-4">

                <div class="col-lg-2" ></div>
              <div class="col-lg-4" >
            
                <div class="portfolio-info" style="width: 100%; max-width: 500px; margin: auto;text-align: center;" >
                    <h3 >$messages['chairman']</h3>
                    <img src="static/member/sacho.jpg"style="width: 100%; height: auto; display: block;">
                    <h5 style="margin-top: 30px;"><strong>$messages['chairman_name']</strong></h5>
            
                </div>
              </div>

              <div class="col-lg-4">
            
                <div class="portfolio-info" style="width: 100%; max-width: 500px; margin: auto;text-align: center;" >
                  <h3>$messages['ceo']</h3>
                    
                    <img src="static/member/brent.png" style="width: 100%; height: auto; display: block;">
                    <h5 style="margin-top: 30px;"><strong>$messages['ceo_name']</strong></h5>
                    
                  
            
                </div>
              </div>
              
               
            
        </div>
        </div>
</section>



          <!-- Testimonials Section -->
    <section id="testimonials" class="testimonials section dark-background">

      <img src="static/web_images/innovationsprings.JPG" class="testimonials-bg" alt="">
      <div class="container" data-aos="fade-up" >
	<h2>$messages['qai_motivation']</h2>
        
              <div class="testimonial-item">
                
                <h3>$messages['qai_mission_h']</h3>
                <h4></h4>

                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>$messages['qai_mission_p']</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

    </section><!-- /Testimonials Section -->
