$def with ()

    <div class="page-title dark-background" data-aos="fade" style="background-image: url(static/heroheader.png);">
      <div class="container position-relative">
        <h1>Career</h1>
        
      </div>
    </div>
    
    <div class="container section-title" data-aos="fade-up">
        
        <p>Career at Quality AI <br></p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up">
        <p>We are seeking partners who will collaborate to create new value together. While enjoying contributions to society and team growth, we hope to work with individuals who can embrace each day filled with rewarding joy and purposeful meaning. Your application is warmly awaited. </p>
      </div>
          <section id="portfolio-details" class="portfolio-details section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">


          <div class="col-lg-4">
            <div class="portfolio-info" data-aos="fade-up" data-aos-delay="200">
              <h3>AI Engineer</h3>
              <p>Develop AI systems throughout their lifecycle, from data analysis and model construction to system integration and deployment.</p>
              <ul>
                <li><strong>Job Location</strong>: Shirahama</li>
                
              </ul>
            </div>
            <div class="portfolio-description" data-aos="fade-up" data-aos-delay="300">
              
            </div>
          </div>
                    <div class="col-lg-4">
            <div class="portfolio-info" data-aos="fade-up" data-aos-delay="200">
              <h3>Infrastructure Engineer</h3>
              <p>By designing, implementing, and monitoring robust generative AI systems, we create an environment that allows our AI platform to perform at its maximum level.</p>
              <ul>
                <li><strong>Job Location</strong>: Shirahama</li>
              </ul>
            </div>
            <div class="portfolio-description" data-aos="fade-up" data-aos-delay="300">
              
            </div>
          </div>
                    <div class="col-lg-4">
            <div class="portfolio-info" data-aos="fade-up" data-aos-delay="200">
              <h3>Sales Force</h3>
              <p>Through sales activities, we aim to strengthen relationships with our customers, streamline operations, and boost productivity.</p>
              <ul>
                <li><strong>Job Location</strong>: Shirahama</li>
              </ul>
            </div>

          </div>
            <div class="portfolio-description" data-aos="fade-up" data-aos-delay="300">
              <h2>Salary</h2>
              <p><i class="bi bi-check2-circle"></i> Postgraduate: 260,000 JPY</p>
              <p><i class="bi bi-check2-circle"></i> University Graduate: 240,000 JPY</p>
              <p><i class="bi bi-check2-circle"></i> Vocational School Graduate: 220,000 JPY</p>
            <h2>Qualifications & Experience</h2>
              <p><i class="bi bi-check2-circle"></i> Must be able to communicate in English</p>
              <p><i class="bi bi-check2-circle"></i> Fresh graduates are Welcome</p>
            <h2>Employment Status</h2>
              <p><i class="bi bi-check2-circle"></i> Regular Employment</p>
              <p><i class="bi bi-check2-circle"></i> Internship</p>
              
            </div>

        </div>

      </div>
