$def with ()

    <div class="page-title dark-background" data-aos="fade" style="background-image: url(static/heroheader.png);">
      <div class="container position-relative">
        <h1>Recruitment</h1>
        
      </div>
    </div>
    
    <div class="container section-title" data-aos="fade-up">
        
        <p>AI Software Development Engineer<br></p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up">
        <p>We are seeking <strong>AI Software Development Engineer</strong> who will collaborate to create new value together. While enjoying contributions to society and team growth, we hope to work with individuals who can embrace each day filled with rewarding joy and purposeful meaning.<strong> Your application is warmly awaited.</strong></p>
      </div>
          <section id="portfolio-details" class="portfolio-details section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">


          <div class="col-lg-12">
            
            <div class="portfolio-info" data-aos="fade-up" >
              <h3>Job Description</h3>
              
              
              <ul>
                <li><i class="bi bi-record-fill"></i>Development, testing, and improvement of Generative AI (LLM, Image Generation, Speech Synthesis)</li>
                <li><i class="bi bi-record-fill"></i>General software development (back-end design & implementation, API development, deployment)</li>
                <li><i class="bi bi-record-fill"></i>Data Collection, Preprocessing, Annotation Design, and Implementation</li>
                <li><i class="bi bi-record-fill"></i>Project advancement through collaboration with other engineers and data scientists within the team</li>
                <li><i class="bi bi-record-fill"></i>Technical documentation maintenance</li>
              </ul>
              
              <h3>Required Qualifications and Skills</h3>
              <ul>
                <li><i class="bi bi-record-fill"></i><strong>Programming Skills: </strong>Practical development experience in Python or similar languages (3+ years recommended)</li>
                <li><i class="bi bi-record-fill"></i><strong>AI Development Experience: </strong>Implementation experience with machine learning frameworks such as TensorFlow/PyTorch</li>
                <li><i class="bi bi-record-fill"></i><strong>Problem-Solving Ability: </strong>Ability to logically solve technical challenges</li>
                <li><i class="bi bi-record-fill"></i><strong>Communication Skills: </strong>Ability to effectively collaborate with the team and other departments</li>
                <li><i class="bi bi-record-fill"></i><strong>Learning Drive: </strong>Ability to continuously track technological trends in the AI field</li>
                
              </ul>
              <h3>Preferred Qualifications and Skills</h3>
              <ul>
                <li><i class="bi bi-record-fill"></i>Development and operation experience of Generative AI (LLM, Diffusion Model)</li>
                <li><i class="bi bi-record-fill"></i>AI model deployment experience in cloud environments (AWS/GCP/Azure)</li>
                <li><i class="bi bi-record-fill"></i>Data pipeline construction and DevOps tool utilization experience</li>
                <li><i class="bi bi-record-fill"></i>Reading and replicating machine learning papers</li>
                <li><i class="bi bi-record-fill"></i>Development experience in natural language processing (NLP) or computer vision</li>
              </ul>
              <h3>Ideal Candidate</strong></h3>
              <ul>
                <li><i class="bi bi-record-fill"></i>Strong interest in AI technology and willingness to actively pursue the possibilities of Generative AI</li>
                <li><i class="bi bi-record-fill"></i>Ability to learn new technologies independently and apply them to work</li>
                <li><i class="bi bi-record-fill"></i>Willingness to challenge unknown issues and propose improvement measures</li>
                <li><i class="bi bi-record-fill"></i>Ability to collaborate with diverse members and contribute to the achievement of team goals</li>
                <li><i class="bi bi-record-fill"></i>Ability to adapt to technological advancements and enhance oneself</li>
              </ul>
              <h3>Employee Benefits</h3>
              <div class="row gy-4">
               <div class="col-lg-6">
               <h5><strong>Salary</strong></h5>
               <ul>
              <li><i class="bi bi-record-fill"></i> Base salary: 280,000 yen to 450,000 yen</li>
              <li>(Expected annual salary: 4,500,000 yen to 7,100,000 yen)</li>
              <li><i class="bi bi-record-fill"></i> Expected annual salary with 20h/month overtime (5,000,000 yen to 8,000,000 yen)</li>
              <li><i class="bi bi-record-fill"></i> Trial period is 3 months. There will be no change to treatment or conditions.</li>
              <li><i class="bi bi-record-fill"></i> Will be determined according to our company regulations, taking into consideration experience and skills.</li>
              <li><i class="bi bi-record-fill"></i> Other retirement benefits available (after 3 years of employment)</li>
               </ul>
              <h5><strong>Qualifications & Experience</strong></h5>
              <ul>
              <li><i class="bi bi-record-fill"></i> Must be able to communicate in English</li>
              <li><i class="bi bi-record-fill"></i> Fresh graduates are Welcome</li>
              </ul>
             <h5><strong>Employment Status</strong></h5>
              <ul>
              <li><i class="bi bi-record-fill"></i> Regular Employment</li>
              <li><i class="bi bi-record-fill"></i> Internship</li>
              </ul>
              <h5><strong>Other Allowance</strong></h5>
              <ul>
              <li><i class="bi bi-record-fill"></i> Company-Leased Housing System</li>
              <li><i class="bi bi-record-fill"></i> Housing Allowance</li>
              <li><i class="bi bi-record-fill"></i> Relocation Allowance</li>
              <li><i class="bi bi-record-fill"></i> Setting-in Allowance</li>
              </ul>

               <h5><strong>Holidays</strong></h5>
                <ul>
              <li><i class="bi bi-record-fill"></i> Around 125 days annual leave</li>
              <li><i class="bi bi-record-fill"></i> 2 days per week (Saturday, Sunday), Public Holidays </li>
              <li><i class="bi bi-record-fill"></i> Summer, End of Year, New Year Holiday</li>
              <li><i class="bi bi-record-fill"></i> 10 days of paid annual leaves are given upon start working</li>
              <li><i class="bi bi-record-fill"></i> Special Leave</li>
              <li><i class="bi bi-record-fill"></i> Maternity/Paternity Leave, Childcare/family-case Leave</li>
                </ul>
                </div>

               <div class="col-lg-6">
              <h5><strong>Salary Revision</strong></h5>
              <ul>
              <li><i class="bi bi-record-fill"></i> Once a year</li>
              </ul>
              <h5><strong>Bonus</strong></h5>
              <ul>
              <li><i class="bi bi-record-fill"></i> Twice a year</li>
              </ul>
              <h5><strong>Allownce</strong></h5>
              <ul>
              <li><i class="bi bi-record-fill"></i> Overtime allowance (Paid in full)</li>
              <li><i class="bi bi-record-fill"></i> Commuting allowance is paid in accordance with company regulations (1.5 km or more one way)</li>
              <li><i class="bi bi-record-fill"></i> Toll roads are not covered; paid within the tax exemption limit</li>
              </ul>
              <h5><strong>Working Hour</strong></h5>
              <ul>
              <li><i class="bi bi-check2-record-fill"></i> Flextime</li>
              <li><i class="bi bi-check2-record-fill"></i> Standard Working Hours: 8 hours per day (including a 60-minute break)</li>
              <li><i class="bi bi-check2-record-fill"></i> Coretime: 10:00～15:00 (9:00～14:00 on Monday)</li>
              </ul>
              <h5><strong>Employee Welfare</strong></h5>
             <ul>
              <li><i class="bi bi-record-fill"></i> Fully covers social insurance</li>
              <li><i class="bi bi-record-fill"></i> Retirement benefits (after 3 years of employment) </li>
              <li><i class="bi bi-record-fill"></i> Kanto IT Software Health Insurance Welfare Support</li>
              <li><i class="bi bi-record-fill"></i> Riro Club (Outside of company welfare services)</li>
              <li><i class="bi bi-record-fill"></i> Financial assistance for internal club activities and events</li>
              <li><i class="bi bi-record-fill"></i> Employee Recognition System</li>
              <li><i class="bi bi-record-fill"></i> Qualification Bonus</li>
              <li><i class="bi bi-record-fill"></i> Personal Development Assistance</li>
              </ul>
              </div>

            </div>


              
              
            
            </div>
            </div>
            
          </div>
                   
          
           
         
          <div class="portfolio-description" data-aos="fade-up" data-aos-delay="100">
            
            <h2>Lets Work together</h2>
            <p>Please prepare required documents and apply on Quality AI linkedin page or email us at <strong>hr-contact@qualityai.jp</strong> if you have any kind of query.</p>
            <h2>Required Documents</h2>
            <p><i class="bi bi-check2-circle"></i> Cover Letter</p>
            <p><i class="bi bi-check2-circle"></i> Resume</p>
            <p><i class="bi bi-check2-circle"></i> Academic Records</p>
          </div>

        </div>

      </div>
