$def with ()

    <div class="page-title dark-background" data-aos="fade" style="background-image: url(static/heroheader.png);">
      <div class="container position-relative">
        <h1>Career</h1>
        
      </div>
    </div>
    
    <div class="container section-title" data-aos="fade-up">
        
        <p>Career at Quality AI <br></p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up">
        <p>We are seeking partners who will collaborate to create new value together. While enjoying contributions to society and team growth, we hope to work with individuals who can embrace each day filled with rewarding joy and purposeful meaning. Your application is warmly awaited. </p>
      </div>
          <section id="portfolio-details" class="portfolio-details section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">


          <div class="col-lg-6">
            <div class="portfolio-info" data-aos="fade-up" data-aos-delay="200"onclick="toggleDetails(this)" style="border: 1px solid #ccc; padding: 15px; margin: 10px 0; cursor: pointer;">
              <h3>AI Software Development Engineer</h3>
              
              <h5><strong>Job Description</strong></h5>
              <ul>
                <li><i class="bi bi-record-fill"></i>Development, testing, and improvement of Generative AI (LLM, Image Generation, Speech Synthesis)</li>
                <li><i class="bi bi-record-fill"></i>General software development (back-end design & implementation, API development, deployment)</li>
                <li><i class="bi bi-record-fill"></i>Data Collection, Preprocessing, Annotation Design, and Implementation</li>
                <li><i class="bi bi-record-fill"></i>Project advancement through collaboration with other engineers and data scientists within the team</li>
                <li><i class="bi bi-record-fill"></i>Technical documentation maintenance</li>
              </ul>
              <span onclick="showMore(this)" style="color: rgb(127, 127, 131); cursor: pointer;">Show more<i class="bi bi-arrow-down-short"></i></span>
              <div class="more-content" style="display: none; margin-top: 10px;">
              <h5><strong>Required Qualifications and Skills:</strong></h5>
              <ul>
                <li><i class="bi bi-record-fill"></i><strong>Programming Skills: </strong>Practical development experience in Python or similar languages (3+ years recommended)</li>
                <li><i class="bi bi-record-fill"></i><strong>AI Development Experience: </strong>Implementation experience with machine learning frameworks such as TensorFlow/PyTorch</li>
                <li><i class="bi bi-record-fill"></i><strong>Problem-Solving Ability: </strong>Ability to logically solve technical challenges</li>
                <li><i class="bi bi-record-fill"></i><strong>Communication Skills: </strong>Ability to effectively collaborate with the team and other departments</li>
                <li><i class="bi bi-record-fill"></i><strong>Learning Drive: </strong>Ability to continuously track technological trends in the AI field</li>
                
              </ul>
              <h5><strong>Preferred Qualifications and Skills</strong></h5>
              <ul>
                <li><i class="bi bi-record-fill"></i>Development and operation experience of Generative AI (LLM, Diffusion Model)</li>
                <li><i class="bi bi-record-fill"></i>AI model deployment experience in cloud environments (AWS/GCP/Azure)</li>
                <li><i class="bi bi-record-fill"></i>Data pipeline construction and DevOps tool utilization experience</li>
                <li><i class="bi bi-record-fill"></i>Reading and replicating machine learning papers</li>
                <li><i class="bi bi-record-fill"></i>Development experience in natural language processing (NLP) or computer vision</li>
              </ul>
              <h5><strong>Ideal Candidate</strong></h5>
              <ul>
                <li><i class="bi bi-record-fill"></i>Strong interest in AI technology and willingness to actively pursue the possibilities of Generative AI</li>
                <li><i class="bi bi-record-fill"></i>Ability to learn new technologies independently and apply them to work</li>
                <li><i class="bi bi-record-fill"></i>Willingness to challenge unknown issues and propose improvement measures</li>
                <li><i class="bi bi-record-fill"></i>Ability to collaborate with diverse members and contribute to the achievement of team goals</li>
                <li><i class="bi bi-record-fill"></i>Ability to adapt to technological advancements and enhance oneself</li>
              </ul>
            </div>
            </div>
            <div class="portfolio-description" data-aos="fade-up" data-aos-delay="300">
              
            </div>
          </div>
                    <div class="col-lg-6">
             <div class="portfolio-info" onclick="toggleDetails(this)" style="border: 1px solid #ccc; padding: 15px; margin: 10px 0; cursor: pointer;">
    <h3 style="margin: 0;">Infrastructure Engineer</h3>
    <div class="job-details" style="display: none; margin-top: 10px;">
      <p style="margin: 0;">By designing, implementing, and monitoring robust generative AI systems, we create an environment that allows our AI platform to perform at its maximum level.</p>
      <ul style="margin: 5px 0 0 20px;">
        <li><strong>Job Location</strong>: Shirahama</li>
      </ul>
    </div>
  </div>
            <div class="portfolio-description" data-aos="fade-up" data-aos-delay="300">
              
            </div>
          </div>
                    <div class="col-lg-12">
              <div class="portfolio-info" onclick="toggleDetails(this)" style="border: 1px solid #ccc; padding: 15px; margin: 10px 0; cursor: pointer;">
    <h3 style="margin: 0;">Sales Force</h3>
    <div class="job-details" style="display: none; margin-top: 10px;">
      <p style="margin: 0;">Through sales activities, we aim to strengthen relationships with our customers, streamline operations, and boost productivity.</p>
      <ul style="margin: 5px 0 0 20px;">
        <li><strong>Job Location</strong>: Shirahama</li>
      </ul>
    </div>
  </div>

          </div>
           <div class="col-lg-12">
            <div class="portfolio-info" data-aos="fade-up" data-aos-delay="200">
              <h3>Sales Force</h3>
              <p>Through sales activities, we aim to strengthen relationships with our customers, streamline operations, and boost productivity.</p>
              <ul>
                <li><strong>Job Location</strong>: Shirahama</li>
              </ul>
            </div>

          </div>
         
          <div class="portfolio-description" data-aos="fade-up" data-aos-delay="300">
            <div class="row gy-4">
               <div class="col-lg-6">
              <h2>Salary</h2>
              <p><i class="bi bi-check2-circle"></i> Postgraduate: 260,000 JPY</p>
              <p><i class="bi bi-check2-circle"></i> University Graduate: 240,000 JPY</p>
              <p><i class="bi bi-check2-circle"></i> Vocational School Graduate: 220,000 JPY</p>
              <p><i class="bi bi-check2-circle"></i> Overtime pay will be paid separately.</p>
              <p><i class="bi bi-check2-circle"></i> Bonuses vary depending on rank and performance.</p>
              <p><i class="bi bi-check2-circle"></i> Other retirement benefits available (after 3 years of employment)</p>
            <h2>Qualifications & Experience</h2>
              <p><i class="bi bi-check2-circle"></i> Must be able to communicate in English</p>
              <p><i class="bi bi-check2-circle"></i> Fresh graduates are Welcome</p>
            <h2>Employment Status</h2>
              <p><i class="bi bi-check2-circle"></i> Regular Employment</p>
              <p><i class="bi bi-check2-circle"></i> Internship</p>
              <h2>Other Allowance</h2>
              <p><i class="bi bi-check2-circle"></i> Company-Leased Housing System</p>
              <p><i class="bi bi-check2-circle"></i> Housing Allowance</p>
              <p><i class="bi bi-check2-circle"></i> Relocation Allowance</p>
              <p><i class="bi bi-check2-circle"></i> Setting-in Allowance</p>
               <h2>Holidays</h2>
              <p><i class="bi bi-check2-circle"></i> Around 125 days annual leave</p>
              <p><i class="bi bi-check2-circle"></i> 2 days per week (Saturday, Sunday), Public Holidays </p>
              <p><i class="bi bi-check2-circle"></i> Summer, End of Year, New Year Holiday</p>
              <p><i class="bi bi-check2-circle"></i> 10 days of paid annual leaves are given upon start working</p>
              <p><i class="bi bi-check2-circle"></i> Special Leave</p>
              <p><i class="bi bi-check2-circle"></i> Maternity/Paternity Leave, Childcare/family-case Leave</p>

            </div>
            <div class="col-lg-6">
              <h2>Salary Revision</h2>
              <p><i class="bi bi-check2-circle"></i> Once a year</p>
              <h2>Bonus</h2>
              <p><i class="bi bi-check2-circle"></i> Twice a year</p>
              <h2>Allownce</h2>
              <p><i class="bi bi-check2-circle"></i> Overtime allowance (Paid in full)</p>
              <p><i class="bi bi-check2-circle"></i> Commuting allowance is paid in accordance with company regulations (1.5 km or more one way)</p>
              <p><i class="bi bi-check2-circle"></i> Toll roads are not covered; paid within the tax exemption limit</p>
              <h2>Working Hour</h2>
              <p><i class="bi bi-check2-circle"></i> Flextime</p>
              <p><i class="bi bi-check2-circle"></i> Standard Working Hours: 8 hours per day (including a 60-minute break)</p>
              <p><i class="bi bi-check2-circle"></i> Coretime: 10:00～15:00 (9:00～14:00 on Monday)</p>
              <h2>Employee Welfare</h2>
              <p><i class="bi bi-check2-circle"></i> Fully covers social insurance</p>
              <p><i class="bi bi-check2-circle"></i> Retirement benefits (after 3 years of employment) </p>
              <p><i class="bi bi-check2-circle"></i> Kanto IT Software Health Insurance Welfare Support</p>
              <p><i class="bi bi-check2-circle"></i> Riro Club (Outside of company welfare services)</p>
              <p><i class="bi bi-check2-circle"></i> Financial assistance for internal club activities and events</p>
              <p><i class="bi bi-check2-circle"></i> Employee Recognition System</p>
              <p><i class="bi bi-check2-circle"></i> Qualification Bonus</p>
              <p><i class="bi bi-check2-circle"></i> Personal Development Assistance</p>
            </div>
            </div>
            <h2>How to Apply</h2>
            <p>Please prepare required documents and apply on QAI linkedin page or email us at <strong>hr-contact@qualityai.jp</strong> if you have any kind of query.</p>
            <h2>Required Documents</h2>
            <p><i class="bi bi-check2-circle"></i> Cover Letter</p>
            <p><i class="bi bi-check2-circle"></i> Resume</p>
            <p><i class="bi bi-check2-circle"></i> Academic Records</p>
          </div>

        </div>

      </div>
  <script>
    function showMore(el) {
      const moreContent = el.nextElementSibling;
      moreContent.style.display = 'block';
      el.style.display = 'none'; // hide "See more"
    }
    function toggleDetails(clickedElement) {
      const allDetails = document.querySelectorAll('.job-details');

      allDetails.forEach(detail => {
        if (detail !== clickedElement.querySelector('.job-details')) {
          detail.style.display = 'none'; // Hide others
        }
      });

      const target = clickedElement.querySelector('.job-details');
      target.style.display = (target.style.display === 'block') ? 'none' : 'block';
    }
  </script>