$def with ()

    <div class="page-title dark-background" data-aos="fade" style="background-image: url(static/heroheader.png);">
      <div class="container position-relative">
        <h1>$messages['career']</h1>
        
      </div>
    </div>
    
    <div class="container section-title" data-aos="fade-up">
        
        <p>$messages['careerp'] <br></p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up">
        <p>$messages['careerp_tagline']<strong>$messages['careerp_tagline1']</strong> </p>
      </div>
          <section id="portfolio-details" class="portfolio-details section">

      <div class="container" data-aos="fade-up" >
        <div class="row gy-4">


              <div class="col-lg-6">
            
                <div class="portfolio-info" data-aos="fade-up" >
                    <h3 >$messages['engineer_job']</h3>
                    <h5 ><strong>$messages['job1']</strong></h5>
                    <p><strong>$messages['location']</strong> $messages['location_dtl']</p>
                    <a href="/ai_engineer" style="display:inline-flex;align-items:center;font-size:18px;color:#ff4a17;text-decoration:none;font-weight:bold;cursor:pointer;">
                       $messages['view_more'] 
                      <span style="margin-left:8px;animation:blink 1s infinite;@keyframes blink{0%{opacity:1;}50%{opacity:0;}100%{opacity:1;}}"><i class="bi bi-arrow-right"></i></span>
                            </a>
                  
            
                </div>
              </div>
              <div class="col-lg-6">
                <div class="portfolio-info" >
                      
                    <h3 >$messages['engineer_job']</h3>
                    <h5 ><strong>$messages['job2']</strong></h5>
                    <p><strong>$messages['location']</strong> $messages['location_dtl']</p>
                    <a href="/infrastructure_engineer" style="display:inline-flex;align-items:center;font-size:18px;color:#ff4a17;text-decoration:none;font-weight:bold;cursor:pointer;">
                       $messages['view_more'] 
                      <span style="margin-left:8px;animation:blink 1s infinite;@keyframes blink{0%{opacity:1;}50%{opacity:0;}100%{opacity:1;}}"><i class="bi bi-arrow-right"></i></span>
                            </a>
                </div>
           
               </div>
              <div class="col-lg-6">
                <div class="portfolio-info" >
                      
                      <h3 >$messages['engineer_job']</h3>
                    <h5 ><strong>$messages['job3']</strong></h5>
                    <p><strong>$messages['location']</strong> $messages['location_dtl']</p>
                    <a href="/operation_engineer" style="display:inline-flex;align-items:center;font-size:18px;color:#ff4a17;text-decoration:none;font-weight:bold;cursor:pointer;">
                       $messages['view_more'] 
                      <span style="margin-left:8px;animation:blink 1s infinite;@keyframes blink{0%{opacity:1;}50%{opacity:0;}100%{opacity:1;}}"><i class="bi bi-arrow-right"></i></span>
                            </a>
    
                </div>
           
              </div>
            <div class="col-lg-6">
              <div class="portfolio-info">
                
                <h3 >$messages['sales_job']</h3>
                    <h5 ><strong>$messages['job4']</strong></h5>
                    <p><strong>$messages['location']</strong> $messages['location_dtl']</p>
                    <a href="/sales" style="display:inline-flex;align-items:center;font-size:18px;color:#ff4a17;text-decoration:none;font-weight:bold;cursor:pointer;">
                       $messages['view_more'] 
                      <span style="margin-left:8px;animation:blink 1s infinite;@keyframes blink{0%{opacity:1;}50%{opacity:0;}100%{opacity:1;}}"><i class="bi bi-arrow-right"></i></span>
                            </a>
    
              </div>

            </div>
           
         
          <div class="portfolio-description" data-aos="fade-up" >
            
            <h2>$messages['join_us']</h2>
            <p>Please prepare required documents and apply on Quality AI linkedin page or email us at <strong>hr-contact@qualityai.jp</strong> if you have any kind of query.</p>
            <h2>$messages['required_doc']</h2>
            <p><i class="bi bi-check2-circle"></i> $messages['doc1']</p>
            <p><i class="bi bi-check2-circle"></i> $messages['doc2']</p>
            <p><i class="bi bi-check2-circle"></i> $messages['doc3']</p>
          </div>

    </div>

  </div>
