$def with (data) 
<main class="main">


    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

      <img src="static/web_images/$messages['hero_image']" alt="" data-aos="fade-in">

      <div class="container d-flex flex-column align-items-center">
        <h2 data-aos="fade-up" data-aos-delay="100">$messages['qai_bn_heading']</h2>
        
          <p data-aos="fade-up" data-aos-delay="200">$messages['qai_bn_para']</p>
        <div class="d-flex mt-4" data-aos="fade-up" >
          <a href="https://izanagi.qualityai.app/" target="_blank" class="btn-get-started">$messages['qai_explore_btn']</a>
          <a href="static/$messages['video']" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>$messages['qai_bn_watch']</span></a>
        </div>
      </div>

    </section><!-- /Hero Section -->
      <!-- About Section -->
    <section id="about" class="about section">

      <div class="container">

        <div class="row gy-4">
          <div class="col-lg-6" data-aos="fade-up" >
            <h3>$messages['qai_desc']</h3>
            <img src="static/web_images/AI4.jpg" class="img-fluid rounded-4 mb-4" alt="">
            <p>$messages['qai_desc_p1']</p>
            <div class="content ps-0 ps-lg-5">
            <ul>
                <li><i class="bi bi-check-circle-fill"></i> <span>$messages['domestic_platform'] </span></li>
                <li><i class="bi bi-check-circle-fill"></i> <span>$messages['multi_modal']</span></li>
                <li><i class="bi bi-check-circle-fill"></i> <span>$messages['guardrails_enabled']</span></li>
                <li><i class="bi bi-check-circle-fill"></i> <span>$messages['enhanced_security']</span></li>
              </ul>
              </div>
            <p>$messages['qai_desc_p2']</p>
			<p>$messages['qai_desc_p3']</p>
          </div>
          <div class="col-lg-6" data-aos="fade-up" >
            <div class="content ps-0 ps-lg-5">
              <h2 class="fst-italic">
                $messages['qai_desc_r']
              </h2>
              <ul>
                <li><i class="bi bi-check-circle-fill"></i> <span>$messages['qai_desc_r1']</span></li>
                <li><i class="bi bi-check-circle-fill"></i> <span>$messages['qai_desc_r2']</span></li>
                <li><i class="bi bi-check-circle-fill"></i> <span></span>$messages['qai_desc_r3']</li>
              </ul>
              <p>
                
              </p>

              <div class="position-relative mt-4">
                <img src="static/$messages['video']" class="img-fluid rounded-4" alt=""loop="" autoplay="" muted=""></img>
                <a href="static/$messages['video']" class="glightbox pulsating-play-btn"></a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </section><!-- /About Section -->
	

    

    <!-- Services Section -->
    <section id="services" class="services section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>$messages['services']</h2>
        <p>$messages['fservices']<br></p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" >

        <div class="row gy-5">

          <div class="col-xl-4 col-md-6" data-aos="zoom-in" >
            <div class="service-item">
              <div class="img">
                <img src="static/QAI.png" height="300" alt="">
              </div>
              <div class="details position-relative">
                <div class="icon">
                  <i class="bi bi-gpu-card"></i>
                </div>
                <a href="/product#product-portal" class="stretched-link">
                  <h3>$messages['GAI']</h3>
                </a>
                <p>$messages['GAI_desc']</p>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-4 col-md-6" data-aos="zoom-in" >
            <div class="service-item">
              <div class="img">
                <img src="static/web_images/solution1.jpeg" height="300" alt="">
              </div>
              <div class="details position-relative">
                <div class="icon">
                  <i class="bi bi-cloud-arrow-down-fill"></i>
                </div>
                <a href="/product#product-package-software" class="stretched-link">
                  <h3>$messages['package']</h3>
                </a>
                <p>$messages['package_desc']</p>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-4 col-md-6" data-aos="zoom-in" >
            <div class="service-item">
              <div class="img">
                <img src="static/SAAS.jpg" height="300" alt="">
              </div>
              <div class="details position-relative">
                <div class="icon">
                  <i class="bi bi-graph-up-arrow"></i>
                </div>
                <a href="/product#product-saas" class="stretched-link">
                  <h3>$messages['saas']</h3>
                </a>
                <p>$messages['saas_desc']</p>
              </div>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>

    </section><!-- /Services Section -->

  

    <!-- Features Section -->
    <section id="features" class="features section">

      <div class="container">

        <ul class="nav nav-tabs row  d-flex" data-aos="fade-up" >
          <li class="nav-item col-2">
            <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#features-tab-1">
              <i class="bi bi-chat-right-dots"></i>
              <h4 class="d-none d-lg-block">$messages['p_qaiportal']</h4>
            </a>
          </li>
          <li class="nav-item col-2">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#features-tab-2">
              <i class="bi bi-filetype-ai"></i>
              <h4 class="d-none d-lg-block">$messages['p_cd']</h4>
            </a>
          </li>
          <li class="nav-item col-2">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#features-tab-3">
              <i class="bi bi-file-earmark-break"></i>
              <h4 class="d-none d-lg-block">$messages['p_transcript']</h4>
            </a>
          </li>
          <li class="nav-item col-2">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#features-tab-4">
              <i class="bi bi-database-fill-down"></i>
              <h4 class="d-none d-lg-block">$messages['p_de']</h4>
            </a>
        <li class="nav-item col-2">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#features-tab-5">
              <i class="bi bi-headset"></i>
              <h4 class="d-none d-lg-block">$messages['p_rc']</h4>
            </a>
          </li>
		    <li class="nav-item col-2">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#features-tab-6">
              <i class="bi bi-translate"></i>
              <h4 class="d-none d-lg-block">$messages['p_trans']</h4>
            </a>
          </li>
          </li>
        </ul><!-- End Tab Nav -->

        <div class="tab-content" data-aos="fade-up">

          <div class="tab-pane fade active show" id="features-tab-1">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>$messages['p_qaiportal']</h3>
                <p>
                  $messages['pdescd1']
                </p>
                <strong>$messages['pdescd2'] </strong>
                  <ul>
                  <li><i class="bi bi-check2-circle"></i>
                    <spab>
                      $messages['pdescd3']
                </spab>
                  </li>
                  <li><i class="bi bi-check2-circle"></i> <span>
                    $messages['pdescd4']
                </span>.</li>
                  </spab>
                  </li>
                </ul>
                <p><strong>$messages['pdescd5'] :</strong> 
                $messages['pdescd6']</p>
                
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="static/portal/$messages['chat_img']" alt="" class="img-fluid">
              </div>
            </div>
          </div><!-- End Tab Content Item -->

          <div class="tab-pane fade" id="features-tab-2">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>$messages['p_cd']</h3>
                <p>
                  $messages['cddescd1']
                </p>
                <ul>
                  <li><i class="bi bi-check2-circle"></i>
                    <spab>
                  <strong>$messages['cddescd2'] </strong>
                $messages['cddescd3']
                </spab>
                  </li>
                  <li><i class="bi bi-check2-circle"></i> <spab><strong>$messages['cddescd4']</strong>
                $messages['cddescd5']</spab>.</li>
                 <li><i class="bi bi-check2-circle"></i>
                    <spab>
                  <strong> $messages['cddescd6'] </strong>
                $messages['cddescd7']</spab>
                  </li> 
                </ul>
                <p>
                  $messages['cddescd8']
                </p>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="static/portal/$messages['doc_chat_img']" alt="" class="img-fluid">
              </div>
            </div>
          </div><!-- End Tab Content Item -->
          <div class="tab-pane fade" id="features-tab-3">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>$messages['p_transcript']</h3>
                <p>
                  $messages['tdescd1']
                </p>
                <ul>
                  <li><i class="bi bi-check2-circle"></i>
                    <spab>
                  <strong> $messages['tdescd2'] </strong>
                $messages['tdescd3']</spab>
                  </li>
                  <li><i class="bi bi-check2-circle"></i> <spab><strong>$messages['tdescd4']</strong>
                $messages['tdescd5']</spab>.</li>
                 <li><i class="bi bi-check2-circle"></i>
                    <spab>
                  <strong> $messages['tdescd6'] </strong>
                $messages['tdescd7']</spab>
                  </li> 
                </ul>
               </div> 
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="static/portal/$messages['transcription_img']" alt="" class="img-fluid">
              </div>
            </div>
          </div><!-- End Tab Content Item -->

          <div class="tab-pane fade" id="features-tab-4">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>$messages['p_de']</h3>
                <p>
                $messages['dedescd1']
                </p>
                <ul>
                  <li><i class="bi bi-check2-circle"></i>
                    <spab>
                  <strong> $messages['dedescd2'] </strong>
                $messages['dedescd3']</spab>
                  </li>
                  <li><i class="bi bi-check2-circle"></i> <spab><strong>$messages['dedescd4']</strong>
                $messages['dedescd5']
                  </spab>.</li>
                 <li><i class="bi bi-check2-circle"></i>
                    <spab>
                  <strong> $messages['dedescd6'] </strong>
                $messages['dedescd7']</spab>
                  </li> 
                </ul>
                <p>$messages['dedescd8']</p>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="static/portal/$messages['data_extraction_img']" alt="" class="img-fluid">
              </div>
            </div>
          </div><!-- End Tab Content Item -->
          <div class="tab-pane fade" id="features-tab-5">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>$messages['p_rc']</h3>
                <p>
                $messages['rcdescd1']
                </p>
                <ul>
                  <li><i class="bi bi-check2-circle"></i>
                    <spab>
                  <strong> $messages['rcdescd2'] </strong>
                $messages['rcdescd3']</spab>
                  </li>
                  <li><i class="bi bi-check2-circle"></i> <spab><strong>$messages['rcdescd4']</strong>
                $messages['rcdescd5']</spab>.</li>
                 
                </ul>
                <p>$messages['rcdescd6']</p>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="static/portal/$messages['rag_chat_img']" alt="" class="img-fluid">
              </div>
            </div>
          </div><!-- End Tab Content Item -->
          <div class="tab-pane fade" id="features-tab-6">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>$messages['p_trans']</h3>
                <p>
                $messages['transdescd1']
                </p>
                <ul>
                  <li><i class="bi bi-check2-circle"></i>
                    <spab>
                  <strong> $messages['transdescd2'] </strong>
                $messages['transdescd3']</spab>
                  </li>
                  <li><i class="bi bi-check2-circle"></i> <spab><strong>$messages['transdescd4']</strong>
                $messages['transdescd5']</spab>.</li>
                 <li><i class="bi bi-check2-circle"></i> <spab><strong>$messages['transdescd6']</strong>
                  $messages['transdescd7']
            
             </spab>.</li>
                </ul>
                <p>$messages['transdescd8']</p>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="static/portal/$messages['translation_img']" alt="" class="img-fluid">
              </div>
            </div>
          </div><!-- End Tab Content Item -->		  
        </div>

      </div>

    </section><!-- /Features Section -->

    <!-- Services 2 Section -->
    <section id="services-2" class="services-2 section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>$messages['services']</h2>
        <p>$messages['n_service']</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-md-6" data-aos="fade-up" >
            <div class="service-item d-flex position-relative h-100">
              <i class="bi bi-code-slash icon flex-shrink-0"></i>
              <div>
                <h4 class="title"><a href="/services#system-integration-support" class="stretched-link">$messages['system_integration_support']</a></h4>
                <p class="description">$messages['sis_desc']</p>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-md-6" data-aos="fade-up" >
            <div class="service-item d-flex position-relative h-100">
              <i class="bi bi-database-fill-up icon flex-shrink-0"></i>
              <div>
                <h4 class="title"><a href="/services#pro-services" class="stretched-link">$messages['pro_services']</a></h4>
                <p class="description">$messages['ps_desc']</p>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-md-6" data-aos="fade-up" >
            <div class="service-item d-flex position-relative h-100">
              <i class="bi bi-diagram-3-fill icon flex-shrink-0"></i>
              <div>
                <h4 class="title"><a href="/services#consulting-services" class="stretched-link">$messages['consulting_services']</a></h4>
                <p class="description">$messages['tfbs_desc']</p>
              </div>
            </div>
          </div><!-- End Service Item -->



        </div>

      </div>

    </section><!-- /Services 2 Section -->

    <!-- Testimonials Section -->
    <section id="testimonials" class="testimonials section dark-background">

      <img src="static/web_images/innovationsprings.JPG" class="testimonials-bg" alt="">
      <div class="container" data-aos="fade-up" >
	<h2>$messages['qai_motivation']</h2>
        
              <div class="testimonial-item">
                
                <h3>$messages['qai_mission_h']</h3>
                <h4></h4>

                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>$messages['qai_mission_p']</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

    </section><!-- /Testimonials Section -->


    


    <!-- Team Section -->
  
    <section id="team" class="portfolio-details section">

      <div style="margin-left: 50px;margin-right: 50px"  >
        <h1 style="text-align: center;margin-bottom: 50px;"><strong>$messages['qai_team']</strong></h1>
        <div class="row gy-4">

<div class="col-lg-2" ></div>
              <div class="col-lg-4" >
            
                <div class="portfolio-info" style="width: 100%; max-width: 500px; margin: auto;text-align: center;" >
                    <h3 >Chairman</h3>
                    <img src="static/member/sacho.jpg"style="width: 100%; height: auto; display: block;">
                    <h5 style="margin-top: 30px;"><strong>Kirk Ura</strong></h5>
                    
                    
                  
            
                </div>
              </div>
              <div class="col-lg-4">
            
                <div class="portfolio-info" style="width: 100%; max-width: 500px; margin: auto;text-align: center;" >
                  <h3>Chief Executive Officer</h3>
                    
                    <img src="static/member/brent.png" style="width: 100%; height: auto; display: block;">
                    <h5 style="margin-top: 30px;"><strong>Uemura Brent</strong></h5>
                    
                  
            
                </div>
              </div>
              
               
            
        </div>
        </div>
</section>
    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>$messages['contact']</h2>
        <p>$messages['contact_dtl']</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" >

        <div class="row gy-4">
          <div class="col-lg-6 ">
            <div class="row gy-4">

              <div class="col-lg-12">
                <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" >
                  <i class="bi bi-geo-alt"></i>
                  <h3>$messages['address']</h3>
                  <p>$messages['address_dtl']</p>
                </div>
              </div><!-- End Info Item -->

              <div class="col-md-6">
                <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" >
                  <i class="bi bi-telephone"></i>
                  <h3>$messages['call_us']</h3>
                  <p>0739-45-1001</p>
                </div>
              </div><!-- End Info Item -->

              <div class="col-md-6">
                <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" >
                  <i class="bi bi-envelope"></i>
                  <h3>$messages['email']</h3>
                  <p>contact@qualityai.jp</p>
                </div>
              </div><!-- End Info Item -->

            </div>
          </div>

          <div class="col-lg-6">
  
          
            <form action="/" method="post" class="php-email-form" data-aos="fade-up" >
              <div class="row gy-4">

                <div class="col-md-6">
                  <input type="text" name="name" class="form-control" placeholder="$messages['form_name']" required="">
                </div>

                <div class="col-md-6 ">
                  <input type="email" class="form-control" name="email" placeholder="$messages['email']" required="">
                </div>

                <div class="col-md-12">
                  <input type="text" class="form-control" name="subject" placeholder="$messages['form_sub']" required="">
                </div>

                <div class="col-md-12">
                  <textarea class="form-control" name="message" rows="4" placeholder="$messages['form_msg']" required=""></textarea>
                </div>

                <div class="col-md-12 text-center">
                  <div class="loading">Loading</div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>
                  <div class="error-message"></div>
                  

                  <button type="submit">$messages['submit_btn']</button>
                </div>

              </div>
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>

    </section><!-- /Contact Section -->
</main>