$def with ()

    <div class="page-title dark-background" data-aos="fade" style="background-image: url(static/web_images/infrastructure.jpeg);">
      <div class="container position-relative">
        <h1>$messages['career']</h1>
        
      </div>
    </div>
    <a href="/career" style="display:inline-flex;align-items:center;font-size:30px;color:#ff4a17;text-decoration:none;font-weight:bold;cursor:pointer;">
                       
                      <span style="margin-left:30px;animation:blink 1s infinite;@keyframes blink{0%{opacity:1;}50%{opacity:0;}100%{opacity:1;}}"><i class="bi bi-arrow-left">$messages['back_btn']</i></span>
                            </a>
    <div class="container section-title" data-aos="fade-up">
        
        <p>$messages['job2']<br></p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up">
        <p>$messages['jmt1']<strong>$messages['job2']</strong>$messages['jmt2']<strong>$messages['jmt3']</strong></p>
      </div>
          <section id="portfolio-details" class="portfolio-details section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">


          <div class="col-lg-12">
            
            <div class="portfolio-info" data-aos="fade-up" >
              <h3>$messages['job_desc']</h3>
              
              
              <ul>
                <li><i class="bi bi-record-fill"></i>Infrastructure Design & Construction</li>
                <li><i class="bi bi-record-fill"></i>Design and implement highly available architectures for Generative AI on AWS (IAM, EC2, S3, EKS/ECS, RDS, API Gateway, CDK/CloudFormation, etc.).</li>
                <li><i class="bi bi-record-fill"></i>Build an infrastructure environment that capacity designed and cost optimized.</li>
                <li><i class="bi bi-record-fill"></i>Containerize, orchestrate, and manage services using Docker/Kubernetes.</li>
                <li><i class="bi bi-record-fill"></i>Understanding service mesh architecture.</li>
              </ul>
              <h3>Operation Managment & Monitoring</h3>
              <ul>
                <li><i class="bi bi-record-fill"></i> Set up monitoring tools (Prometheus, Grafana, CloudWatch, etc.) and log analysis for stable system operation.</li>
                <li><i class="bi bi-record-fill"></i>Performance monitoring, identify issues, and solution</li>
                <li><i class="bi bi-record-fill"></i>Implement security patch application and vulnerability counter measures.</li>
                
              </ul>
              <h3>Optimization & Automation</h3>
              <ul>
                <li><i class="bi bi-record-fill"></i>Develop tools for infrastructure automation using IaC (Infrastructure as Code) such as Github, Terraform, and Ansible.</li>
                <li><i class="bi bi-record-fill"></i>Improve the infrastructure to enhance the processing speed and scalability of Generative AI.</li>
                <li><i class="bi bi-record-fill"></i>Perform advanced tuning of vector DB, OpenSearch, PostgreSQL, and RDBMS (e.g., query optimization, index design).</li>
                
              </ul>
              <h3>Collaboration & Integration</h3>
              <ul>
                <li><i class="bi bi-record-fill"></i>Coordinate with the AI platform and model development team to design infrastructure requirements that correspond to changes in model resource requirements.</li>
                <li><i class="bi bi-record-fill"></i>Construct a development/operation system that promotes DevOps tools (e.g., Jenkins) and processes.</li>
                
              </ul>
              <h3>$messages['req_skill']</h3>
              <ul>
                <li><i class="bi bi-record-fill"></i>Extensive experience in operating Linux environments (command-line operation, troubleshooting).</li>
                <li><i class="bi bi-record-fill"></i>Bash script creation skills (development of automation scripts and periodic tasks).</li>
                <li><i class="bi bi-record-fill"></i>Practical experience with Docker/Kubernetes (service containerization, orchestration environment construction).</li>
                <li><i class="bi bi-record-fill"></i>In-depth understanding of the AWS platform (experience using services such as EC2, ECS, RDS, S3, IAM, VPC, etc.).</li>
                <li><i class="bi bi-record-fill"></i>Operational and tuning experience with RDBMS (particularly PostgreSQL) (transaction processing, distributed environment design, etc.).</li>
                <li><i class="bi bi-record-fill"></i>Automated deployment of applications and infrastructure configurations using Ansible.</li>
                <li><i class="bi bi-record-fill"></i>Design and implementation of network and firewall.</li>
                <li><i class="bi bi-record-fill"></i>Logical problem-solving skills (analysis and solution proposal for complex system issues).</li>
                <li><i class="bi bi-record-fill"></i>Ability to read and write technical documents in English.</li>
                
              </ul>
              <h3>$messages['prefer_skill']</h3>
              <ul>
                <li><i class="bi bi-record-fill"></i>Knowledge of cloud infrastructure design and operation.</li>
                <li><i class="bi bi-record-fill"></i>Knowledge of infrastructure automation tools (e.g., Terraform).</li>
                <li><i class="bi bi-record-fill"></i>Knowledge of monitoring and log collection system operation.</li>
                <li><i class="bi bi-record-fill"></i>Knowledge of large language model technologies and generative AI.</li>
              </ul>
              <h3></strong>$messages['ideal_can']</h3>
              <ul>
                <li><i class="bi bi-record-fill"></i>High interest and drive regarding Generative AI.</li>
                <li><i class="bi bi-record-fill"></i>Excellent teamwork and communication skills and ability to adapt flexibly.</li>
                <li><i class="bi bi-record-fill"></i>Prioritizing the stability, reliability, and scalability of infrastructure and constantly setting improvement targets.</li>
                <li><i class="bi bi-record-fill"></i>Interest in new technologies and methodologies and willingness to learn and practice them.</li>
              </ul>
               <h3>$messages['e_bene']</h3>
              <div class="row gy-4">
               <div class="col-lg-6">
               <h5><strong>$messages['salary']</strong></h5>
               <ul>
              <li><i class="bi bi-record-fill"></i> $messages['sal1']</li>
              <li>$messages['sal2']</li>
              <li><i class="bi bi-record-fill"></i> $messages['sal3']</li>
              <li><i class="bi bi-record-fill"></i> $messages['sal4']</li>
              <li><i class="bi bi-record-fill"></i> $messages['sal5']</li>
              <li><i class="bi bi-record-fill"></i> $messages['sal6']</li>
               </ul>
              <h5><strong>$messages['qual_exp']</strong></h5>
              <ul>
              <li><i class="bi bi-record-fill"></i> $messages['qe1']</li>
              <li><i class="bi bi-record-fill"></i> $messages['qe2']</li>
              </ul>
             <h5><strong>$messages['empl_status']</strong></h5>
              <ul>
              <li><i class="bi bi-record-fill"></i> $messages['es1']</li>
              <li><i class="bi bi-record-fill"></i> $messages['es2']</li>
              </ul>
              <h5><strong>$messages['other_allownce']</strong></h5>
              <ul>
              <li><i class="bi bi-record-fill"></i> $messages['oa1']</li>
              <li><i class="bi bi-record-fill"></i> $messages['oa2']</li>
              <li><i class="bi bi-record-fill"></i> $messages['oa3']</li>
              <li><i class="bi bi-record-fill"></i> $messages['oa4']</li>
              </ul>

               <h5><strong>$messages['holiday']</strong></h5>
                <ul>
              <li><i class="bi bi-record-fill"></i> $messages['holi1']</li>
              <li><i class="bi bi-record-fill"></i> $messages['holi2'] </li>
              <li><i class="bi bi-record-fill"></i> $messages['holi3']</li>
              <li><i class="bi bi-record-fill"></i> $messages['holi4']</li>
              <li><i class="bi bi-record-fill"></i> $messages['holi5']</li>
              <li><i class="bi bi-record-fill"></i> $messages['holi6']</li>
                </ul>
                </div>

               <div class="col-lg-6">
              <h5><strong>$messages['sal_rev']</strong></h5>
              <ul>
              <li><i class="bi bi-record-fill"></i> $messages['sal_rev1']</li>
              </ul>
              <h5><strong>$messages['bonus']</strong></h5>
              <ul>
              <li><i class="bi bi-record-fill"></i> $messages['bonus1']</li>
              </ul>
              <h5><strong>$messages['allownce']</strong></h5>
              <ul>
              <li><i class="bi bi-record-fill"></i>$messages['allownce1']</li>
              <li><i class="bi bi-record-fill"></i>$messages['allownce2']</li>
              <li><i class="bi bi-record-fill"></i>$messages['allownce3']</li>
              </ul>
              <h5><strong>$messages['w_hour']</strong></h5>
              <ul>
              <li><i class="bi bi-check2-record-fill"></i> $messages['wh1']</li>
              <li><i class="bi bi-check2-record-fill"></i>$messages['wh2']</li>
              <li><i class="bi bi-check2-record-fill"></i> $messages['wh3']</li>
              </ul>
              <h5><strong>$messages['e_welfare']</strong></h5>
             <ul>
              <li><i class="bi bi-record-fill"></i> $messages['ew1']</li>
              <li><i class="bi bi-record-fill"></i> $messages['ew2'] </li>
              <li><i class="bi bi-record-fill"></i> $messages['ew3']</li>
              <li><i class="bi bi-record-fill"></i> $messages['ew4']</li>
              <li><i class="bi bi-record-fill"></i> $messages['ew5']</li>
              <li><i class="bi bi-record-fill"></i> $messages['ew6'] </li>
              <li><i class="bi bi-record-fill"></i> $messages['ew7']</li>
              <li><i class="bi bi-record-fill"></i> $messages['ew8']</li>
              </ul>
              </div>

            </div>


              
              
            
            </div>
            </div>
            
          </div>
                   
          
           
         
          <div class="portfolio-description" style="margin-left: 10px;" data-aos="fade-up" >
            
            <h2>$messages['join_us']</h2>
            <p> $messages['join_us_tag1']<strong>(hr-contact@qualityai.jp)</strong> $messages['join_us_tag2']</p>
            <h2>$messages['required_doc']</h2>
            <p><i class="bi bi-check2-circle"></i> $messages['doc1']</p>
            <p><i class="bi bi-check2-circle"></i> $messages['doc2']</p>
            <p><i class="bi bi-check2-circle"></i> $messages['doc3']</p>
          </div>

        </div>

      </div>
