$def with ()

    <div class="page-title dark-background" data-aos="fade" style="background-image: url(static/heroheader.png);">
      <div class="container position-relative">
        <h1>Recruitment</h1>
        
      </div>
    </div>
    
    <div class="container section-title" data-aos="fade-up">
        
        <p>Infrastructure Engineer<br></p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up">
        <p>We are seeking <strong>Infrastructure Engineer</strong> who will collaborate to create new value together. While enjoying contributions to society and team growth, we hope to work with individuals who can embrace each day filled with rewarding joy and purposeful meaning.<strong> Your application is warmly awaited.</strong></p>
      </div>
          <section id="portfolio-details" class="portfolio-details section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">


          <div class="col-lg-12">
            
            <div class="portfolio-info" data-aos="fade-up" >
              <h3>Job Description</h3>
              
              
              <ul>
                <li><i class="bi bi-record-fill"></i>Infrastructure Design & Construction</li>
                <li><i class="bi bi-record-fill"></i>Design and implement highly available architectures for Generative AI on AWS (IAM, EC2, S3, EKS/ECS, RDS, API Gateway, CDK/CloudFormation, etc.).</li>
                <li><i class="bi bi-record-fill"></i>Build an infrastructure environment that capacity designed and cost optimized.</li>
                <li><i class="bi bi-record-fill"></i>Containerize, orchestrate, and manage services using Docker/Kubernetes.</li>
                <li><i class="bi bi-record-fill"></i>Understanding service mesh architecture.</li>
              </ul>
              <h3>Operation Managment & Monitoring</h3>
              <ul>
                <li><i class="bi bi-record-fill"></i> Set up monitoring tools (Prometheus, Grafana, CloudWatch, etc.) and log analysis for stable system operation.</li>
                <li><i class="bi bi-record-fill"></i>Performance monitoring, identify issues, and solution</li>
                <li><i class="bi bi-record-fill"></i>Implement security patch application and vulnerability counter measures.</li>
                
              </ul>
              <h3>Optimization & Automation</h3>
              <ul>
                <li><i class="bi bi-record-fill"></i>Develop tools for infrastructure automation using IaC (Infrastructure as Code) such as Github, Terraform, and Ansible.</li>
                <li><i class="bi bi-record-fill"></i>Improve the infrastructure to enhance the processing speed and scalability of Generative AI.</li>
                <li><i class="bi bi-record-fill"></i>Perform advanced tuning of vector DB, OpenSearch, PostgreSQL, and RDBMS (e.g., query optimization, index design).</li>
                
              </ul>
              <h3>Collaboration & Integration</h3>
              <ul>
                <li><i class="bi bi-record-fill"></i>Coordinate with the AI platform and model development team to design infrastructure requirements that correspond to changes in model resource requirements.</li>
                <li><i class="bi bi-record-fill"></i>Construct a development/operation system that promotes DevOps tools (e.g., Jenkins) and processes.</li>
                
              </ul>
              <h3>Required Qualifications and Skills</h3>
              <ul>
                <li><i class="bi bi-record-fill"></i>Extensive experience in operating Linux environments (command-line operation, troubleshooting).</li>
                <li><i class="bi bi-record-fill"></i>Bash script creation skills (development of automation scripts and periodic tasks).</li>
                <li><i class="bi bi-record-fill"></i>Practical experience with Docker/Kubernetes (service containerization, orchestration environment construction).</li>
                <li><i class="bi bi-record-fill"></i>In-depth understanding of the AWS platform (experience using services such as EC2, ECS, RDS, S3, IAM, VPC, etc.).</li>
                <li><i class="bi bi-record-fill"></i>Operational and tuning experience with RDBMS (particularly PostgreSQL) (transaction processing, distributed environment design, etc.).</li>
                <li><i class="bi bi-record-fill"></i>Automated deployment of applications and infrastructure configurations using Ansible.</li>
                <li><i class="bi bi-record-fill"></i>Design and implementation of network and firewall.</li>
                <li><i class="bi bi-record-fill"></i>Logical problem-solving skills (analysis and solution proposal for complex system issues).</li>
                <li><i class="bi bi-record-fill"></i>Ability to read and write technical documents in English.</li>
                
              </ul>
              <h3>Preferred Qualifications and Skills</h3>
              <ul>
                <li><i class="bi bi-record-fill"></i>Knowledge of cloud infrastructure design and operation.</li>
                <li><i class="bi bi-record-fill"></i>Knowledge of infrastructure automation tools (e.g., Terraform).</li>
                <li><i class="bi bi-record-fill"></i>Knowledge of monitoring and log collection system operation.</li>
                <li><i class="bi bi-record-fill"></i>Knowledge of large language model technologies and generative AI.</li>
              </ul>
              <h3>Ideal Candidate</strong></h3>
              <ul>
                <li><i class="bi bi-record-fill"></i>High interest and drive regarding Generative AI.</li>
                <li><i class="bi bi-record-fill"></i>Excellent teamwork and communication skills and ability to adapt flexibly.</li>
                <li><i class="bi bi-record-fill"></i>Prioritizing the stability, reliability, and scalability of infrastructure and constantly setting improvement targets.</li>
                <li><i class="bi bi-record-fill"></i>Interest in new technologies and methodologies and willingness to learn and practice them.</li>
              </ul>
              <h3>Employee Benefits</h3>
              <div class="row gy-4">
               <div class="col-lg-6">
               <h5><strong>Salary</strong></h5>
               <ul>
              <li><i class="bi bi-record-fill"></i> Base salary: 280,000 yen to 450,000 yen</li>
              <li>(Expected annual salary: 4,500,000 yen to 7,100,000 yen)</li>
              <li><i class="bi bi-record-fill"></i> Expected annual salary with 20h/month overtime (5,000,000 yen to 8,000,000 yen)</li>
              <li><i class="bi bi-record-fill"></i> Trial period is 3 months. There will be no change to treatment or conditions.</li>
              <li><i class="bi bi-record-fill"></i> Will be determined according to our company regulations, taking into consideration experience and skills.</li>
              <li><i class="bi bi-record-fill"></i> Other retirement benefits available (after 3 years of employment)</li>
               </ul>
              <h5><strong>Qualifications & Experience</strong></h5>
              <ul>
              <li><i class="bi bi-record-fill"></i> Must be able to communicate in English</li>
              <li><i class="bi bi-record-fill"></i> Fresh graduates are Welcome</li>
              </ul>
             <h5><strong>Employment Status</strong></h5>
              <ul>
              <li><i class="bi bi-record-fill"></i> Regular Employment</li>
              <li><i class="bi bi-record-fill"></i> Internship</li>
              </ul>
              <h5><strong>Other Allowance</strong></h5>
              <ul>
              <li><i class="bi bi-record-fill"></i> Company-Leased Housing System</li>
              <li><i class="bi bi-record-fill"></i> Housing Allowance</li>
              <li><i class="bi bi-record-fill"></i> Relocation Allowance</li>
              <li><i class="bi bi-record-fill"></i> Setting-in Allowance</li>
              </ul>

               <h5><strong>Holidays</strong></h5>
                <ul>
              <li><i class="bi bi-record-fill"></i> Around 125 days annual leave</li>
              <li><i class="bi bi-record-fill"></i> 2 days per week (Saturday, Sunday), Public Holidays </li>
              <li><i class="bi bi-record-fill"></i> Summer, End of Year, New Year Holiday</li>
              <li><i class="bi bi-record-fill"></i> 10 days of paid annual leaves are given upon start working</li>
              <li><i class="bi bi-record-fill"></i> Special Leave</li>
              <li><i class="bi bi-record-fill"></i> Maternity/Paternity Leave, Childcare/family-case Leave</li>
                </ul>
                </div>

               <div class="col-lg-6">
              <h5><strong>Salary Revision</strong></h5>
              <ul>
              <li><i class="bi bi-record-fill"></i> Once a year</li>
              </ul>
              <h5><strong>Bonus</strong></h5>
              <ul>
              <li><i class="bi bi-record-fill"></i> Twice a year</li>
              </ul>
              <h5><strong>Allownce</strong></h5>
              <ul>
              <li><i class="bi bi-record-fill"></i> Overtime allowance (Paid in full)</li>
              <li><i class="bi bi-record-fill"></i> Commuting allowance is paid in accordance with company regulations (1.5 km or more one way)</li>
              <li><i class="bi bi-record-fill"></i> Toll roads are not covered; paid within the tax exemption limit</li>
              </ul>
              <h5><strong>Working Hour</strong></h5>
              <ul>
              <li><i class="bi bi-check2-record-fill"></i> Flextime</li>
              <li><i class="bi bi-check2-record-fill"></i> Standard Working Hours: 8 hours per day (including a 60-minute break)</li>
              <li><i class="bi bi-check2-record-fill"></i> Coretime: 10:00～15:00 (9:00～14:00 on Monday)</li>
              </ul>
              <h5><strong>Employee Welfare</strong></h5>
             <ul>
              <li><i class="bi bi-record-fill"></i> Fully covers social insurance</li>
              <li><i class="bi bi-record-fill"></i> Retirement benefits (after 3 years of employment) </li>
              <li><i class="bi bi-record-fill"></i> Kanto IT Software Health Insurance Welfare Support</li>
              <li><i class="bi bi-record-fill"></i> Riro Club (Outside of company welfare services)</li>
              <li><i class="bi bi-record-fill"></i> Financial assistance for internal club activities and events</li>
              <li><i class="bi bi-record-fill"></i> Employee Recognition System</li>
              <li><i class="bi bi-record-fill"></i> Qualification Bonus</li>
              <li><i class="bi bi-record-fill"></i> Personal Development Assistance</li>
              </ul>
              </div>

            </div>


              
              
            
            </div>
            </div>
            
          </div>
                   
          
           
         
          <div class="portfolio-description" data-aos="fade-up" data-aos-delay="100">
            
            <h2>Lets Work together</h2>
            <p>Please prepare required documents and apply on Quality AI linkedin page or email us at <strong>hr-contact@qualityai.jp</strong> if you have any kind of query.</p>
            <h2>Required Documents</h2>
            <p><i class="bi bi-check2-circle"></i> Cover Letter</p>
            <p><i class="bi bi-check2-circle"></i> Resume</p>
            <p><i class="bi bi-check2-circle"></i> Academic Records</p>
          </div>

        </div>

      </div>
