$def with ()

    <div class="page-title dark-background" data-aos="fade" style="background-image: url(static/web_images/operation.jpg);">
      <div class="container position-relative">
        <h1>$messages['career']</h1>
        
      </div>
    </div>
    <a href="/career" style="display:inline-flex;align-items:center;font-size:30px;color:#ff4a17;text-decoration:none;font-weight:bold;cursor:pointer;">
                       
                      <span style="margin-left:30px;animation:blink 1s infinite;@keyframes blink{0%{opacity:1;}50%{opacity:0;}100%{opacity:1;}}"><i class="bi bi-arrow-left">$messages['back_btn']</i></span>
                            </a>
    <div class="container section-title" data-aos="fade-up">
        
        <p>$messages['job3']<br></p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up">
        <p>$messages['jmt1']<strong>$messages['job3']</strong>$messages['jmt2']<strong>$messages['jmt3']</strong></p>
      </div>
          <section id="portfolio-details" class="portfolio-details section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">


          <div class="col-lg-12">
            
            <div class="portfolio-info" data-aos="fade-up" >
              <h3>$messages['job_desc']</h3>
              
              
              <ul>
                <li><i class="bi bi-record-fill"></i>Operation and management of AI models Monitoring and performance optimization of generative AI (large language models, image generation systems, etc.) during actual operations Model tuning and resource management for reducing execution time and costs</li>
                <li><i class="bi bi-record-fill"></i><strong>Infrastructure construction and management: </strong>Designing, constructing, and maintaining AI infrastructure using cloud environments (AWS/GCP, etc.) HA/DR design and security measures for service stabilization</li>
                <li><i class="bi bi-record-fill"></i><strong>Problem-handling and improvement proposals: </strong>Rapid analysis and response to AI-generated result quality degradation or unexpected behavior Construction of an anomaly detection system using monitoring tools</li>
                <li><i class="bi bi-record-fill"></i><strong>Operation Process improvement: </strong>Automation (building CI/CD pipelines, developing monitoring scripts) Establishing operation guidelines and documentation</li>
              </ul>
              
              <h3>$messages['req_skill']</h3>
              <ul>
                <li><i class="bi bi-record-fill"></i><strong>Infrastructure construction/operation experience: </strong>3+ years of practical experience on cloud platforms such as AWS/Azure/GCP</li>
                <li><i class="bi bi-record-fill"></i><strong>Practical experience in AI model operation: </strong>Experience in building an operation environment after deploying machine learning/generative AI models</li>
                <li><i class="bi bi-record-fill"></i><strong>Linux/System management skills: </strong>Knowledge of system configuration management tools (Ansible, etc.) and container technologies (Docker/Kubernetes)</li>
                <li><i class="bi bi-record-fill"></i><strong>Troubleshooting capabilities: </strong>Problem-solving ability for 24/7 365 days support for mission-critical systems</li>
                
              </ul>
              <h3>$messages['prefer_skill']</h3>
              <ul>
                <li><i class="bi bi-record-fill"></i>Experience with monitoring tools such as Prometheus/ElasticStack/Microsoft Sentinel.</li>
                <li><i class="bi bi-record-fill"></i>Understanding of frameworks such as PyTorch/TensorFlow, experience in optimizing inference performance.</li>
                <li><i class="bi bi-record-fill"></i>Experience in building CI/CD pipelines using Jenkins/GitLab CI</li>
                <li><i class="bi bi-record-fill"></i>Experience in designing AI systems that comply with GDPR/personal information protection laws</li>
              </ul>
              <h3></strong>$messages['ideal_can']</h3>
              <ul>
                <li><i class="bi bi-record-fill"></i>Responsibility and professionalism to support the operation of large-scale systems while adhering to strict SLAs. </li>
                <li><i class="bi bi-record-fill"></i>Ability to analyze monitoring data and promote operational efficiency. </li>
                <li><i class="bi bi-record-fill"></i>Ability to quickly respond to operational process changes due to AI model updates.</li>
                <li><i class="bi bi-record-fill"></i>Willingness to collaborate with development teams and data scientists to improve the overall service.</li>
              </ul>
               <h3>$messages['e_bene']</h3>
              <div class="row gy-4">
               <div class="col-lg-6">
               <h5><strong>$messages['salary']</strong></h5>
               <ul>
              <li><i class="bi bi-record-fill"></i> $messages['sal1']</li>
              <li>$messages['sal2']</li>
              <li><i class="bi bi-record-fill"></i> $messages['sal3']</li>
              <li><i class="bi bi-record-fill"></i> $messages['sal4']</li>
              <li><i class="bi bi-record-fill"></i> $messages['sal5']</li>
              <li><i class="bi bi-record-fill"></i> $messages['sal6']</li>
               </ul>
              <h5><strong>$messages['qual_exp']</strong></h5>
              <ul>
              <li><i class="bi bi-record-fill"></i> $messages['qe1']</li>
              <li><i class="bi bi-record-fill"></i> $messages['qe2']</li>
              </ul>
             <h5><strong>$messages['empl_status']</strong></h5>
              <ul>
              <li><i class="bi bi-record-fill"></i> $messages['es1']</li>
              <li><i class="bi bi-record-fill"></i> $messages['es2']</li>
              </ul>
              <h5><strong>$messages['other_allownce']</strong></h5>
              <ul>
              <li><i class="bi bi-record-fill"></i> $messages['oa1']</li>
              <li><i class="bi bi-record-fill"></i> $messages['oa2']</li>
              <li><i class="bi bi-record-fill"></i> $messages['oa3']</li>
              <li><i class="bi bi-record-fill"></i> $messages['oa4']</li>
              </ul>

               <h5><strong>$messages['holiday']</strong></h5>
                <ul>
              <li><i class="bi bi-record-fill"></i> $messages['holi1']</li>
              <li><i class="bi bi-record-fill"></i> $messages['holi2'] </li>
              <li><i class="bi bi-record-fill"></i> $messages['holi3']</li>
              <li><i class="bi bi-record-fill"></i> $messages['holi4']</li>
              <li><i class="bi bi-record-fill"></i> $messages['holi5']</li>
              <li><i class="bi bi-record-fill"></i> $messages['holi6']</li>
                </ul>
                </div>

               <div class="col-lg-6">
              <h5><strong>$messages['sal_rev']</strong></h5>
              <ul>
              <li><i class="bi bi-record-fill"></i> $messages['sal_rev1']</li>
              </ul>
              <h5><strong>$messages['bonus']</strong></h5>
              <ul>
              <li><i class="bi bi-record-fill"></i> $messages['bonus1']</li>
              </ul>
              <h5><strong>$messages['allownce']</strong></h5>
              <ul>
              <li><i class="bi bi-record-fill"></i>$messages['allownce1']</li>
              <li><i class="bi bi-record-fill"></i>$messages['allownce2']</li>
              <li><i class="bi bi-record-fill"></i>$messages['allownce3']</li>
              </ul>
              <h5><strong>$messages['w_hour']</strong></h5>
              <ul>
              <li><i class="bi bi-check2-record-fill"></i> $messages['wh1']</li>
              <li><i class="bi bi-check2-record-fill"></i>$messages['wh2']</li>
              <li><i class="bi bi-check2-record-fill"></i> $messages['wh3']</li>
              </ul>
              <h5><strong>$messages['e_welfare']</strong></h5>
             <ul>
              <li><i class="bi bi-record-fill"></i> $messages['ew1']</li>
              <li><i class="bi bi-record-fill"></i> $messages['ew2'] </li>
              <li><i class="bi bi-record-fill"></i> $messages['ew3']</li>
              <li><i class="bi bi-record-fill"></i> $messages['ew4']</li>
              <li><i class="bi bi-record-fill"></i> $messages['ew5']</li>
              <li><i class="bi bi-record-fill"></i> $messages['ew6'] </li>
              <li><i class="bi bi-record-fill"></i> $messages['ew7']</li>
              <li><i class="bi bi-record-fill"></i> $messages['ew8']</li>
              </ul>
              </div>

            </div>


              
              
            
            </div>
            </div>
            
          </div>
                   
          
           
         
          <div class="portfolio-description" style="margin-left: 10px;" data-aos="fade-up" >
            
            <h2>$messages['join_us']</h2>
            <p> $messages['join_us_tag1']<strong>(hr-contact@qualityai.jp)</strong> $messages['join_us_tag2']</p>
            <h2>$messages['required_doc']</h2>
            <p><i class="bi bi-check2-circle"></i> $messages['doc1']</p>
            <p><i class="bi bi-check2-circle"></i> $messages['doc2']</p>
            <p><i class="bi bi-check2-circle"></i> $messages['doc3']</p>
          </div>

        </div>

      </div>
