<div class="page-title dark-background" data-aos="fade" style="background-image: url(static/web_images/eye.jpeg);">
      <div class="container position-relative">
        <h1>$messages['product']</h1>
      </div>
    </div>
    <div id="portal">

    </div>
    <section id="product-portal" class="portfolio-details section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-6">
            <div class="portfolio-details-slider swiper init-swiper">

              <script type="application/json" class="swiper-config">
                {
                  "loop": true,
                  "speed": 600,
                  "autoplay": {
                    "delay": 5000
                  },
                  "slidesPerView": "auto",
                  "pagination": {
                    "el": ".swiper-pagination",
                    "type": "bullets",
                    "clickable": true
                  }
                }
              </script>

              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="static/QAI.png" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="static/web_images/AI2.jpg" alt="">
                </div>

                

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-6">
            
           
            
            <div class="portfolio-description" data-aos="fade-up" data-aos-delay="150">
              <h2>$messages['pst1']</h2>
              <p>
                $messages['psdesc1']
              </p>
              
                        
            <ul>
                
                <p><i class="bi bi-check-circle-fill" style="color: #008080;"></i> <span>$messages['transparent_costing']</span></p>
                <p><i class="bi bi-check-circle-fill" style="color: #008080;"></i> <span>$messages['pay_as_you']</span></p>
                <p><i class="bi bi-check-circle-fill" style="color: #008080;"></i> <span>$messages['cost_effective']</span></p>
                <p><i class="bi bi-check-circle-fill" style="color: #008080;"></i> <span>$messages['no_risk']</span></p>
              </ul>
              
            </div>
          </div>

        </div>

      </div>

    </section>
        <section id="features" class="features section">

      <div class="container">

        <ul class="nav nav-tabs row  d-flex" data-aos="fade-up" data-aos-delay="100">
          <li class="nav-item col-2">
            <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#features-tab-1">
              <i class="bi bi-chat-right-dots"></i>
              <h4 class="d-none d-lg-block">$messages['p_qaiportal']</h4>
            </a>
          </li>
          <li class="nav-item col-2">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#features-tab-2">
              <i class="bi bi-filetype-ai"></i>
              <h4 class="d-none d-lg-block">$messages['p_cd']</h4>
            </a>
          </li>
          <li class="nav-item col-2">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#features-tab-3">
              <i class="bi bi-file-earmark-break"></i>
              <h4 class="d-none d-lg-block">$messages['p_transcript']</h4>
            </a>
          </li>
          <li class="nav-item col-2">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#features-tab-4">
              <i class="bi bi-database-fill-down"></i>
              <h4 class="d-none d-lg-block">$messages['p_de']</h4>
            </a>
        <li class="nav-item col-2">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#features-tab-5">
              <i class="bi bi-headset"></i>
              <h4 class="d-none d-lg-block">$messages['p_rc']</h4>
            </a>
          </li>
		    <li class="nav-item col-2">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#features-tab-6">
              <i class="bi bi-translate"></i>
              <h4 class="d-none d-lg-block">$messages['p_trans']</h4>
            </a>
          </li>
          </li>
        </ul><!-- End Tab Nav -->

        <div class="tab-content" data-aos="fade-up" data-aos-delay="200">

          <div class="tab-pane fade active show" id="features-tab-1">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>$messages['p_qaiportal']</h3>
                <p class="fst-italic">
                  $messages['pdescd1']
                </p>
                <strong>$messages['pdescd2'] </strong>
                  <ul>
                  <li><i class="bi bi-check2-circle"></i>
                    <spab>
                      $messages['pdescd3']
                </spab>
                  </li>
                  <li><i class="bi bi-check2-circle"></i> <span>
                    $messages['pdescd4']
                </span>.</li>
                  </spab>
                  </li>
                </ul>
                <p><strong>$messages['pdescd5'] :</strong> 
                $messages['pdescd6']</p>
                
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="static/portal/$messages['chat_img']" alt="" class="img-fluid">
              </div>
            </div>
          </div><!-- End Tab Content Item -->

          <div class="tab-pane fade" id="features-tab-2">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>$messages['p_cd']</h3>
                <p class="fst-italic">
                  $messages['cddescd1']
                </p>
                <ul>
                  <li><i class="bi bi-check2-circle"></i>
                    <spab>
                  <strong>$messages['cddescd2'] </strong>
                $messages['cddescd3']
                </spab>
                  </li>
                  <li><i class="bi bi-check2-circle"></i> <spab><strong>$messages['cddescd4']</strong>
                $messages['cddescd5']</spab>.</li>
                 <li><i class="bi bi-check2-circle"></i>
                    <spab>
                  <strong> $messages['cddescd6'] </strong>
                $messages['cddescd7']</spab>
                  </li> 
                </ul>
                <p>
                  $messages['cddescd8']
                </p>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="static/portal/$messages['doc_chat_img']" alt="" class="img-fluid">
              </div>
            </div>
          </div><!-- End Tab Content Item -->
          <div class="tab-pane fade" id="features-tab-3">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>$messages['p_transcript']</h3>
                <p class="fst-italic">
                  $messages['tdescd1']
                </p>
                <ul>
                  <li><i class="bi bi-check2-circle"></i>
                    <spab>
                  <strong> $messages['tdescd2'] </strong>
                $messages['tdescd3']</spab>
                  </li>
                  <li><i class="bi bi-check2-circle"></i> <spab><strong>$messages['tdescd4']</strong>
                $messages['tdescd5']</spab>.</li>
                 <li><i class="bi bi-check2-circle"></i>
                    <spab>
                  <strong> $messages['tdescd6'] </strong>
                $messages['tdescd7']</spab>
                  </li> 
                </ul>
               </div> 
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="static/portal/$messages['transcription_img']" alt="" class="img-fluid">
              </div>
            </div>
          </div><!-- End Tab Content Item -->

          <div class="tab-pane fade" id="features-tab-4">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>$messages['p_de']</h3>
                <p class="fst-italic">
                $messages['dedescd1']
                </p>
                <ul>
                  <li><i class="bi bi-check2-circle"></i>
                    <spab>
                  <strong> $messages['dedescd2'] </strong>
                $messages['dedescd3']</spab>
                  </li>
                  <li><i class="bi bi-check2-circle"></i> <spab><strong>$messages['dedescd4']</strong>
                $messages['dedescd5']
                  </spab>.</li>
                 <li><i class="bi bi-check2-circle"></i>
                    <spab>
                  <strong> $messages['dedescd6'] </strong>
                $messages['dedescd7']</spab>
                  </li> 
                </ul>
                <p>$messages['dedescd8']</p>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="static/portal/$messages['data_extraction_img']" alt="" class="img-fluid">
              </div>
            </div>
          </div><!-- End Tab Content Item -->
          <div class="tab-pane fade" id="features-tab-5">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>$messages['p_rc']</h3>
                <p class="fst-italic">
                $messages['rcdescd1']
                </p>
                <ul>
                  <li><i class="bi bi-check2-circle"></i>
                    <spab>
                  <strong> $messages['rcdescd2'] </strong>
                $messages['rcdescd3']</spab>
                  </li>
                  <li><i class="bi bi-check2-circle"></i> <spab><strong>$messages['rcdescd4']</strong>
                $messages['rcdescd5']</spab>.</li>
                 
                </ul>
                <p>$messages['rcdescd6']</p>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="static/portal/$messages['rag_chat_img']" alt="" class="img-fluid">
              </div>
            </div>
          </div><!-- End Tab Content Item -->
          <div class="tab-pane fade" id="features-tab-6">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>$messages['p_trans']</h3>
                <p class="fst-italic">
                $messages['transdescd1']
                </p>
                <ul>
                  <li><i class="bi bi-check2-circle"></i>
                    <spab>
                  <strong> $messages['transdescd2'] </strong>
                $messages['transdescd3']</spab>
                  </li>
                  <li><i class="bi bi-check2-circle"></i> <spab><strong>$messages['transdescd4']</strong>
                $messages['transdescd5']</spab>.</li>
                 <li><i class="bi bi-check2-circle"></i> <spab><strong>$messages['transdescd6']</strong>
                  $messages['transdescd7']
            
             </spab>.</li>
                </ul>
                <p>$messages['transdescd8']</p>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="static/portal/$messages['translation_img']" alt="" class="img-fluid">
              </div>
            </div>
          </div><!-- End Tab Content Item -->		  
        </div>

      </div>

    </section>

     <!-- Portfolio Details Section -->
    <div id="pkg">
      
    </div>
     <section id="product-package-software" class="portfolio-details section">
     
      <div class="container" data-aos="fade-up" data-aos-delay="100">

         <div class="portfolio-description" data-aos="fade-up" data-aos-delay="300">
                    <h2>$messages['package']</h2>
                        
                </div>
                   
            <div class="portfolio-details-slider swiper init-swiper">

              <script type="application/json" class="swiper-config">
                {
                  "loop": true,
                  "speed": 600,
                  "autoplay": {
                    "delay": 5000
                  },
                  "slidesPerView": "auto",
                  "pagination": {
                    "el": ".swiper-pagination",
                    "type": "bullets",
                    "clickable": true
                  }
                }
              </script>

              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="static/web_images/solution1.jpeg" style="height:400px; width:600px; display:block; margin:auto;" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="static/web_images/AI1.jpg" style="height:400px; width:600px; display:block; margin:auto;" alt="">
                </div>

                

              </div>
              <div class="swiper-pagination"></div>
            </div>
           

          
            
            
                <div class="portfolio-description" data-aos="fade-up" data-aos-delay="300">
                        <p>
                             $messages['pstdesc2_1']
                        </p>
                        

                        
            <ul>
                
                <p><i class="bi bi-check-circle-fill" style="color: #008080;"></i> <span>$messages['your_own_']</span></p>
                <p><i class="bi bi-check-circle-fill" style="color: #008080;"></i> <span>$messages['custom_tailored_sol']</span></p>
                <p><i class="bi bi-check-circle-fill" style="color: #008080;"></i> <span>$messages['on_premise']</span></p>
                <p><i class="bi bi-check-circle-fill" style="color: #008080;"></i> <span>$messages['no_risk']</span></p>
              </ul>
        
                        <h4 style="text-align: center;">$messages['pstdesc2_2']</h4>
                        <p> <strong>$messages['pstdesc2_3']</strong> $messages['pstdesc2_4']</p>
                          <p><strong>$messages['pstdesc2_5']</strong> $messages['pstdesc2_6']</p>
                            <p><strong>$messages['pstdesc2_7']</strong> $messages['pstdesc2_8']</p>
                              <p><strong> $messages['pstdesc2_9']</strong> $messages['pstdesc2_10']</p>
                                <p><strong>
                                $messages['pstdesc2_11']</strong>
                $messages['pstdesc2_12']</p>
                <p><strong>$messages['pstdesc2_13']</strong>
                $messages['pstdesc2_14']</p>
                <p>$messages['pstdesc2_15']</p>
                </div>
            





        </div>

      </div>

    </section><!-- /Portfolio Details Section -->
<div id="saas">
      
    </div>
     <!-- Portfolio Details Section -->
    <section id="product-saas" class="portfolio-details section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-5">
            <div class="portfolio-details-slider swiper init-swiper">

              <script type="application/json" class="swiper-config">
                {
                  "loop": true,
                  "speed": 600,
                  "autoplay": {
                    "delay": 5000
                  },
                  "slidesPerView": "auto",
                  "pagination": {
                    "el": ".swiper-pagination",
                    "type": "bullets",
                    "clickable": true
                  }
                }
              </script>

              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="static/SAAS.jpg" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="static/web_images/networkincity.jpeg" alt="">
                </div>

                

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-7">
           
            <div class="portfolio-description" data-aos="fade-up" data-aos-delay="300">
              <h2>$messages['saas']</h2>
              <p>
                $messages['pstdesc3_1']
              </p>
            </div>
              

            
          </div>
          <div class="portfolio-description">
            <p>$messages['pstdesc3_2']
              </p>
          </div>

        </div>

      </div>

    </section><!-- /Portfolio Details Section -->