$def with ()

    <div class="page-title dark-background" data-aos="fade" style="background-image: url(static/heroheader.png);">
      <div class="container position-relative">
        <h1>Recruitment</h1>
        
      </div>
    </div>
    
    <div class="container section-title" data-aos="fade-up">
        
        <p>Sales for Generative AI Solutions<br></p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up">
        <p>We are seeking <strong>Sales for Generative AI Solutions</strong> who will collaborate to create new value together. While enjoying contributions to society and team growth, we hope to work with individuals who can embrace each day filled with rewarding joy and purposeful meaning.<strong> Your application is warmly awaited.</strong></p>
      </div>
          <section id="portfolio-details" class="portfolio-details section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">


          <div class="col-lg-12">
            
            <div class="portfolio-info" data-aos="fade-up" >
              <h3>Job Description</h3>
              
              
              <ul>
                <li><i class="bi bi-record-fill"></i>Propose support for automation improvements, business efficiency, and the creation of new businesses using generative AI. We approach customers from various industries, including major corporations and startups.</li>
                <li><i class="bi bi-record-fill"></i>In collaboration with the technical team, analyze customer issues and specify ways to apply AI language models and generative AI. We will visualize the value of introduction through demonstrations and PoC (proof of concept).</li>
                <li><i class="bi bi-record-fill"></i>Regular follow-up and support for business transformation will be implemented to build long-term trust relationships. We will track changes in needs through post-implementation interviews and promote continuous upselling.</li>
                <li><i class="bi bi-record-fill"></i>Based on market trends and competitive analysis, optimize sales plans and conduct efficient activities using tools such as Salesforce.</li>
              </ul>
              
              <h3>Required Qualifications and Skills</h3>
              <ul>
                <li><i class="bi bi-record-fill"></i>Business-to-business sales experience (3 years or more) </li>
                <li><i class="bi bi-record-fill"></i>Especially sales experience in the IT and technology sector is essential</li>
                <li><i class="bi bi-record-fill"></i>Interest in and willingness to learn about AI and the IT industry </li>
                <li><i class="bi bi-record-fill"></i><strong>High-level Communication Skills: </strong>To be applied in various situations, such as client negotiations and coordination with the technical team.</li>
                <li><i class="bi bi-record-fill"></i><strong>Sales style that focuses on results : </strong>Self-directing from goal setting to achievement and having the determination to produce numbers.</li>
                
              </ul>
              <h3>Preferred Qualifications and Skills</h3>
              <ul>
                <li><i class="bi bi-record-fill"></i>Basic knowledge of AI and machine learning (regardless of education)</li>
                <li><i class="bi bi-record-fill"></i>Experience working for a foreign IT company or startup </li>
                <li><i class="bi bi-record-fill"></i>Experience using sales support tools such as Salesforce and HubSpot</li>
                <li><i class="bi bi-record-fill"></i>Business negotiations and literature research in English (TOEIC 800 points or more)</li>
                <li><i class="bi bi-record-fill"></i>Creativity that allows you to come up with ideas yourself</li>
              </ul>
              <h3>Ideal Candidate</strong></h3>
              <ul>
                <li><i class="bi bi-record-fill"></i>A challenger who embraces change As the generative AI field is characterized by rapid technological innovation, adapting to unknown areas will become a daily routine. We seek personnel who can quickly acquire new tools and methods and propose them.</li>
                <li><i class="bi bi-record-fill"></i>A customer-centric mindset We prioritize solving fundamental problems by understanding the current state of society and industry, rather than focusing solely on technology.</li>
                <li><i class="bi bi-record-fill"></i>A collaborative attitude within a team We need a mindset that aims to solve problems across departments, including the technical team, sales department, and customers.</li>
                <li><i class="bi bi-record-fill"></i>A professional who asks <strong>"Why?"</strong> We seek personnel who will proactively consider and act on how generative AI can contribute to society through sales activities.</li>
              </ul>
              <h3>Employee Benefits</h3>
              <div class="row gy-4">
               <div class="col-lg-6">
               <h5><strong>Salary</strong></h5>
               <ul>
              <li><i class="bi bi-record-fill"></i> Base salary: 248,000 yen to 339,000 yen</li>
              <li>(Expected annual salary: 4,000,000 yen to 5,300,000 yen)</li>
              <li><i class="bi bi-record-fill"></i> Expected annual salary with 20h/month overtime (4,500,000 yen to 5,900,000 yen)</li>
              <li><i class="bi bi-record-fill"></i> Trial period is 3 months. There will be no change to treatment or conditions.</li>
              <li><i class="bi bi-record-fill"></i> Will be determined according to our company regulations, taking into consideration experience and skills.</li>
              <li><i class="bi bi-record-fill"></i> Other retirement benefits available (after 3 years of employment)</li>
               </ul>
              <h5><strong>Qualifications & Experience</strong></h5>
              <ul>
              <li><i class="bi bi-record-fill"></i> Must be able to communicate in English</li>
              <li><i class="bi bi-record-fill"></i> Fresh graduates are Welcome</li>
              </ul>
             <h5><strong>Employment Status</strong></h5>
              <ul>
              <li><i class="bi bi-record-fill"></i> Regular Employment</li>
              <li><i class="bi bi-record-fill"></i> Internship</li>
              </ul>
              <h5><strong>Other Allowance</strong></h5>
              <ul>
              <li><i class="bi bi-record-fill"></i> Company-Leased Housing System</li>
              <li><i class="bi bi-record-fill"></i> Housing Allowance</li>
              <li><i class="bi bi-record-fill"></i> Relocation Allowance</li>
              <li><i class="bi bi-record-fill"></i> Setting-in Allowance</li>
              </ul>

               <h5><strong>Holidays</strong></h5>
                <ul>
              <li><i class="bi bi-record-fill"></i> Around 125 days annual leave</li>
              <li><i class="bi bi-record-fill"></i> 2 days per week (Saturday, Sunday), Public Holidays </li>
              <li><i class="bi bi-record-fill"></i> Summer, End of Year, New Year Holiday</li>
              <li><i class="bi bi-record-fill"></i> 10 days of paid annual leaves are given upon start working</li>
              <li><i class="bi bi-record-fill"></i> Special Leave</li>
              <li><i class="bi bi-record-fill"></i> Maternity/Paternity Leave, Childcare/family-case Leave</li>
                </ul>
                </div>

               <div class="col-lg-6">
              <h5><strong>Salary Revision</strong></h5>
              <ul>
              <li><i class="bi bi-record-fill"></i> Once a year</li>
              </ul>
              <h5><strong>Bonus</strong></h5>
              <ul>
              <li><i class="bi bi-record-fill"></i> Twice a year</li>
              </ul>
              <h5><strong>Allownce</strong></h5>
              <ul>
              <li><i class="bi bi-record-fill"></i> Overtime allowance (Paid in full)</li>
              <li><i class="bi bi-record-fill"></i> Commuting allowance is paid in accordance with company regulations (1.5 km or more one way)</li>
              <li><i class="bi bi-record-fill"></i> Toll roads are not covered; paid within the tax exemption limit</li>
              </ul>
              <h5><strong>Working Hour</strong></h5>
              <ul>
              <li><i class="bi bi-check2-record-fill"></i> Flextime</li>
              <li><i class="bi bi-check2-record-fill"></i> Standard Working Hours: 8 hours per day (including a 60-minute break)</li>
              <li><i class="bi bi-check2-record-fill"></i> Coretime: 10:00～15:00 (9:00～14:00 on Monday)</li>
              </ul>
              <h5><strong>Employee Welfare</strong></h5>
             <ul>
              <li><i class="bi bi-record-fill"></i> Fully covers social insurance</li>
              <li><i class="bi bi-record-fill"></i> Retirement benefits (after 3 years of employment) </li>
              <li><i class="bi bi-record-fill"></i> Kanto IT Software Health Insurance Welfare Support</li>
              <li><i class="bi bi-record-fill"></i> Riro Club (Outside of company welfare services)</li>
              <li><i class="bi bi-record-fill"></i> Financial assistance for internal club activities and events</li>
              <li><i class="bi bi-record-fill"></i> Employee Recognition System</li>
              <li><i class="bi bi-record-fill"></i> Qualification Bonus</li>
              <li><i class="bi bi-record-fill"></i> Personal Development Assistance</li>
              </ul>
              </div>

            </div>


              
              
            
            </div>
            </div>
            
          </div>
                   
          
           
         
          <div class="portfolio-description" data-aos="fade-up" data-aos-delay="100">
            
            <h2>Lets Work together</h2>
            <p>Please prepare required documents and apply on Quality AI linkedin page or email us at <strong>hr-contact@qualityai.jp</strong> if you have any kind of query.</p>
            <h2>Required Documents</h2>
            <p><i class="bi bi-check2-circle"></i> Cover Letter</p>
            <p><i class="bi bi-check2-circle"></i> Resume</p>
            <p><i class="bi bi-check2-circle"></i> Academic Records</p>
          </div>

        </div>

      </div>
