$def with ()

    <div class="page-title dark-background" data-aos="fade" style="background-image: url(static/web_images/sales.jpg);">
      <div class="container position-relative">
        <h1>$messages['career']</h1>
        
      </div>
    </div>
    <a href="/career" style="display:inline-flex;align-items:center;font-size:30px;color:#ff4a17;text-decoration:none;font-weight:bold;cursor:pointer;">
                       
                      <span style="margin-left:30px;animation:blink 1s infinite;@keyframes blink{0%{opacity:1;}50%{opacity:0;}100%{opacity:1;}}"><i class="bi bi-arrow-left">$messages['back_btn']</i></span>
                            </a>
    <div class="container section-title" data-aos="fade-up">
        
        <p>$messages['job4']<br></p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up">
        <p>$messages['jmt1']<strong>$messages['job4']</strong>$messages['jmt2']<strong>$messages['jmt3']</strong></p>
      </div>
          <section id="portfolio-details" class="portfolio-details section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">


          <div class="col-lg-12">
            
            <div class="portfolio-info" data-aos="fade-up" >
              <h3>$messages['job_desc']</h3>
              
              
              <ul>
                <li><i class="bi bi-record-fill"></i>Propose support for automation improvements, business efficiency, and the creation of new businesses using generative AI. We approach customers from various industries, including major corporations and startups.</li>
                <li><i class="bi bi-record-fill"></i>In collaboration with the technical team, analyze customer issues and specify ways to apply AI language models and generative AI. We will visualize the value of introduction through demonstrations and PoC (proof of concept).</li>
                <li><i class="bi bi-record-fill"></i>Regular follow-up and support for business transformation will be implemented to build long-term trust relationships. We will track changes in needs through post-implementation interviews and promote continuous upselling.</li>
                <li><i class="bi bi-record-fill"></i>Based on market trends and competitive analysis, optimize sales plans and conduct efficient activities using tools such as Salesforce.</li>
              </ul>
              
              <h3>$messages['req_skill']</h3>
              <ul>
                <li><i class="bi bi-record-fill"></i>Business-to-business sales experience (3 years or more) </li>
                <li><i class="bi bi-record-fill"></i>Especially sales experience in the IT and technology sector is essential</li>
                <li><i class="bi bi-record-fill"></i>Interest in and willingness to learn about AI and the IT industry </li>
                <li><i class="bi bi-record-fill"></i><strong>High-level Communication Skills: </strong>To be applied in various situations, such as client negotiations and coordination with the technical team.</li>
                <li><i class="bi bi-record-fill"></i><strong>Sales style that focuses on results : </strong>Self-directing from goal setting to achievement and having the determination to produce numbers.</li>
                
              </ul>
              <h3>$messages['prefer_skill']</h3>
              <ul>
                <li><i class="bi bi-record-fill"></i>Basic knowledge of AI and machine learning (regardless of education)</li>
                <li><i class="bi bi-record-fill"></i>Experience working for a foreign IT company or startup </li>
                <li><i class="bi bi-record-fill"></i>Experience using sales support tools such as Salesforce and HubSpot</li>
                <li><i class="bi bi-record-fill"></i>Business negotiations and literature research in English (TOEIC 800 points or more)</li>
                <li><i class="bi bi-record-fill"></i>Creativity that allows you to come up with ideas yourself</li>
              </ul>
              <h3></strong>$messages['ideal_can']</h3>
              <ul>
                <li><i class="bi bi-record-fill"></i>A challenger who embraces change As the generative AI field is characterized by rapid technological innovation, adapting to unknown areas will become a daily routine. We seek personnel who can quickly acquire new tools and methods and propose them.</li>
                <li><i class="bi bi-record-fill"></i>A customer-centric mindset We prioritize solving fundamental problems by understanding the current state of society and industry, rather than focusing solely on technology.</li>
                <li><i class="bi bi-record-fill"></i>A collaborative attitude within a team We need a mindset that aims to solve problems across departments, including the technical team, sales department, and customers.</li>
                <li><i class="bi bi-record-fill"></i>A professional who asks <strong>"Why?"</strong> We seek personnel who will proactively consider and act on how generative AI can contribute to society through sales activities.</li>
              </ul>
               <h3>$messages['e_bene']</h3>
              <div class="row gy-4">
               <div class="col-lg-6">
               <h5><strong>$messages['salary']</strong></h5>
               <ul>
              <li><i class="bi bi-record-fill"></i> $messages['sal1']</li>
              <li>$messages['sal2']</li>
              <li><i class="bi bi-record-fill"></i> $messages['sal3']</li>
              <li><i class="bi bi-record-fill"></i> $messages['sal4']</li>
              <li><i class="bi bi-record-fill"></i> $messages['sal5']</li>
              <li><i class="bi bi-record-fill"></i> $messages['sal6']</li>
               </ul>
              <h5><strong>$messages['qual_exp']</strong></h5>
              <ul>
              <li><i class="bi bi-record-fill"></i> $messages['qe1']</li>
              <li><i class="bi bi-record-fill"></i> $messages['qe2']</li>
              </ul>
             <h5><strong>$messages['empl_status']</strong></h5>
              <ul>
              <li><i class="bi bi-record-fill"></i> $messages['es1']</li>
              <li><i class="bi bi-record-fill"></i> $messages['es2']</li>
              </ul>
              <h5><strong>$messages['other_allownce']</strong></h5>
              <ul>
              <li><i class="bi bi-record-fill"></i> $messages['oa1']</li>
              <li><i class="bi bi-record-fill"></i> $messages['oa2']</li>
              <li><i class="bi bi-record-fill"></i> $messages['oa3']</li>
              <li><i class="bi bi-record-fill"></i> $messages['oa4']</li>
              </ul>

               <h5><strong>$messages['holiday']</strong></h5>
                <ul>
              <li><i class="bi bi-record-fill"></i> $messages['holi1']</li>
              <li><i class="bi bi-record-fill"></i> $messages['holi2'] </li>
              <li><i class="bi bi-record-fill"></i> $messages['holi3']</li>
              <li><i class="bi bi-record-fill"></i> $messages['holi4']</li>
              <li><i class="bi bi-record-fill"></i> $messages['holi5']</li>
              <li><i class="bi bi-record-fill"></i> $messages['holi6']</li>
                </ul>
                </div>

               <div class="col-lg-6">
              <h5><strong>$messages['sal_rev']</strong></h5>
              <ul>
              <li><i class="bi bi-record-fill"></i> $messages['sal_rev1']</li>
              </ul>
              <h5><strong>$messages['bonus']</strong></h5>
              <ul>
              <li><i class="bi bi-record-fill"></i> $messages['bonus1']</li>
              </ul>
              <h5><strong>$messages['allownce']</strong></h5>
              <ul>
              <li><i class="bi bi-record-fill"></i>$messages['allownce1']</li>
              <li><i class="bi bi-record-fill"></i>$messages['allownce2']</li>
              <li><i class="bi bi-record-fill"></i>$messages['allownce3']</li>
              </ul>
              <h5><strong>$messages['w_hour']</strong></h5>
              <ul>
              <li><i class="bi bi-check2-record-fill"></i> $messages['wh1']</li>
              <li><i class="bi bi-check2-record-fill"></i>$messages['wh2']</li>
              <li><i class="bi bi-check2-record-fill"></i> $messages['wh3']</li>
              </ul>
              <h5><strong>$messages['e_welfare']</strong></h5>
             <ul>
              <li><i class="bi bi-record-fill"></i> $messages['ew1']</li>
              <li><i class="bi bi-record-fill"></i> $messages['ew2'] </li>
              <li><i class="bi bi-record-fill"></i> $messages['ew3']</li>
              <li><i class="bi bi-record-fill"></i> $messages['ew4']</li>
              <li><i class="bi bi-record-fill"></i> $messages['ew5']</li>
              <li><i class="bi bi-record-fill"></i> $messages['ew6'] </li>
              <li><i class="bi bi-record-fill"></i> $messages['ew7']</li>
              <li><i class="bi bi-record-fill"></i> $messages['ew8']</li>
              </ul>
              </div>

            </div>

              
              
            
            </div>
            </div>
            
          </div>
                   
          
           
         
          <div class="portfolio-description" style="margin-left: 10px;" data-aos="fade-up" >
            
            <h2>$messages['join_us']</h2>
            <p> $messages['join_us_tag1']<strong>(hr-contact@qualityai.jp)</strong> $messages['join_us_tag2']</p>
            <h2>$messages['required_doc']</h2>
            <p><i class="bi bi-check2-circle"></i> $messages['doc1']</p>
            <p><i class="bi bi-check2-circle"></i> $messages['doc2']</p>
            <p><i class="bi bi-check2-circle"></i> $messages['doc3']</p>
          </div>

        </div>

      </div>
