$def with ()

    <div class="page-title dark-background" data-aos="fade" style="background-image: url(static/web_images/sales.jpg);">
      <div class="container position-relative">
        <h1>$messages['career']</h1>
        
      </div>
    </div>
    <button onclick="window.location.href='/career'"
  style="display: inline-flex;align-items: center;font-size: 20px;padding: 6px 16px;color: white;background-color: #008080;border: none;border-radius: 999px;box-shadow: 0 2px 6px rgba(0,0,0,0.2); font-weight: 1000;margin-left: 40px;margin-top: 40px;cursor: pointer;">
  <i class="bi bi-arrow-left" style="margin-right: 6px;"></i>
  $messages['back_btn']
</button>
    <div class="container section-title" data-aos="fade-up">
        
        <p>$messages['job4']<br></p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up">
        <p>$messages['jmt1']<strong>$messages['job4']</strong>$messages['jmt2']<strong>$messages['jmt3']</strong></p>
      </div>
          <section id="portfolio-details" class="portfolio-details section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">


          <div class="col-lg-12">
            
            <div class="portfolio-info" data-aos="fade-up" >
              <h3>$messages['job_desc']</h3>
              
              
              <ul>
                <li><i class="bi bi-record-fill"></i> $messages['sjd1']</li>
                <li><i class="bi bi-record-fill"></i> $messages['sjd2']</li>
                <li><i class="bi bi-record-fill"></i> $messages['sjd3']</li>
                <li><i class="bi bi-record-fill"></i> $messages['sjd4']</li>
              </ul>
              
              <h3>$messages['req_skill']</h3>
              <ul>
                <li><i class="bi bi-record-fill"></i> $messages['srs1']</li>
                <li><i class="bi bi-record-fill"></i> $messages['srs2']</li>
                <li><i class="bi bi-record-fill"></i> $messages['srs3']</li>
                <li><i class="bi bi-record-fill"></i> $messages['srs4']</li>
                <li><i class="bi bi-record-fill"></i><strong> $messages['srs5']: </strong>$messages['srs6']</li>
                <li><i class="bi bi-record-fill"></i><strong> $messages['srs7']: </strong>$messages['srs8']</li>
                
              </ul>
              <h3>$messages['prefer_skill']</h3>
              <ul>
               <li><i class="bi bi-record-fill"></i> $messages['sps1']</li>
               <li><i class="bi bi-record-fill"></i> $messages['sps2']</li>
               <li><i class="bi bi-record-fill"></i> $messages['sps3']</li>
               <li><i class="bi bi-record-fill"></i> $messages['sps4']</li>
               <li><i class="bi bi-record-fill"></i> $messages['sps5']</li>

              </ul>
              <h3></strong>$messages['ideal_can']</h3>
              <ul>
                <li><i class="bi bi-record-fill"></i> $messages['sic1']</li>
                <li><i class="bi bi-record-fill"></i> $messages['sic2']</li>
                <li><i class="bi bi-record-fill"></i> $messages['sic3']</li>
                <li><i class="bi bi-record-fill"></i>$messages['sic4'] <strong>$messages['sic5']</strong> $messages['sic6']</li>
              </ul>
               <h3>$messages['e_bene']</h3>
              <div class="row gy-4">
               <div class="col-lg-6">
               <h5><strong>$messages['salary']</strong></h5>
               <ul>
              <li><i class="bi bi-record-fill"></i> $messages['sal1']</li>
              <li>$messages['sal2']</li>
              <li><i class="bi bi-record-fill"></i> $messages['sal3']</li>
              <li><i class="bi bi-record-fill"></i> $messages['sal4']</li>
              <li><i class="bi bi-record-fill"></i> $messages['sal5']</li>
              <li><i class="bi bi-record-fill"></i> $messages['sal6']</li>
               </ul>
              <h5><strong>$messages['qual_exp']</strong></h5>
              <ul>
              <li><i class="bi bi-record-fill"></i> $messages['qe1']</li>
              <li><i class="bi bi-record-fill"></i> $messages['qe2']</li>
              </ul>
             <h5><strong>$messages['empl_status']</strong></h5>
              <ul>
              <li><i class="bi bi-record-fill"></i> $messages['es1']</li>
              <li><i class="bi bi-record-fill"></i> $messages['es2']</li>
              </ul>
              <h5><strong>$messages['other_allownce']</strong></h5>
              <ul>
              <li><i class="bi bi-record-fill"></i> $messages['oa1']</li>
              <li><i class="bi bi-record-fill"></i> $messages['oa2']</li>
              <li><i class="bi bi-record-fill"></i> $messages['oa3']</li>
              <li><i class="bi bi-record-fill"></i> $messages['oa4']</li>
              </ul>

               <h5><strong>$messages['holiday']</strong></h5>
                <ul>
              <li><i class="bi bi-record-fill"></i> $messages['holi1']</li>
              <li><i class="bi bi-record-fill"></i> $messages['holi2'] </li>
              <li><i class="bi bi-record-fill"></i> $messages['holi3']</li>
              <li><i class="bi bi-record-fill"></i> $messages['holi4']</li>
              <li><i class="bi bi-record-fill"></i> $messages['holi5']</li>
              <li><i class="bi bi-record-fill"></i> $messages['holi6']</li>
                </ul>
                </div>

               <div class="col-lg-6">
              <h5><strong>$messages['sal_rev']</strong></h5>
              <ul>
              <li><i class="bi bi-record-fill"></i> $messages['sal_rev1']</li>
              </ul>
              <h5><strong>$messages['bonus']</strong></h5>
              <ul>
              <li><i class="bi bi-record-fill"></i> $messages['bonus1']</li>
              </ul>
              <h5><strong>$messages['allownce']</strong></h5>
              <ul>
              <li><i class="bi bi-record-fill"></i>$messages['allownce1']</li>
              <li><i class="bi bi-record-fill"></i>$messages['allownce2']</li>
              <li><i class="bi bi-record-fill"></i>$messages['allownce3']</li>
              </ul>
              <h5><strong>$messages['w_hour']</strong></h5>
              <ul>
              <li><i class="bi bi-check2-record-fill"></i> $messages['wh1']</li>
              <li><i class="bi bi-check2-record-fill"></i>$messages['wh2']</li>
              <li><i class="bi bi-check2-record-fill"></i> $messages['wh3']</li>
              </ul>
              <h5><strong>$messages['e_welfare']</strong></h5>
             <ul>
              <li><i class="bi bi-record-fill"></i> $messages['ew1']</li>
              <li><i class="bi bi-record-fill"></i> $messages['ew2'] </li>
              <li><i class="bi bi-record-fill"></i> $messages['ew3']</li>
              <li><i class="bi bi-record-fill"></i> $messages['ew4']</li>
              <li><i class="bi bi-record-fill"></i> $messages['ew5']</li>
              <li><i class="bi bi-record-fill"></i> $messages['ew6'] </li>
              <li><i class="bi bi-record-fill"></i> $messages['ew7']</li>
              <li><i class="bi bi-record-fill"></i> $messages['ew8']</li>
              </ul>
              </div>

            </div>

              
              
            
            </div>
            </div>
            
          </div>
                   
          
           
         
          <div class="portfolio-description" style="margin-left: 10px;" data-aos="fade-up" >
            
            <h2>$messages['join_us']</h2>
            <p> $messages['join_us_tag1']<strong>(hr-contact@qualityai.jp)</strong> $messages['join_us_tag2']</p>
            <h2>$messages['required_doc']</h2>
            <p><i class="bi bi-check2-circle"></i> $messages['doc1']</p>
            <p><i class="bi bi-check2-circle"></i> $messages['doc2']</p>
            <p><i class="bi bi-check2-circle"></i> $messages['doc3']</p>
          </div>

        </div>

      </div>
