<div class="page-title dark-background" data-aos="fade" style="background-image: url(static/heroheader.png);">
      <div class="container position-relative">
        <h1>$messages['services']</h1>
        
        <!--p>Esse dolorum voluptatum ullam est sint nemo et est ipsa porro placeat quibusdam quia assumenda numquam molestias.</p!-->
        
      </div>
    </div>
    <div id="sis">

  
</div>
    <!-- Portfolio Details Section -->
    <section id="system-integration-support" class="portfolio-details section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-6">
            <div class="portfolio-details-slider swiper init-swiper">

              <script type="application/json" class="swiper-config">
                {
                  "loop": true,
                  "speed": 600,
                  "autoplay": {
                    "delay": 5000
                  },
                  "slidesPerView": "auto",
                  "pagination": {
                    "el": ".swiper-pagination",
                    "type": "bullets",
                    "clickable": true
                  }
                }
              </script>

              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="static/QAI.png" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="static/SAAS.jpg" alt="">
                </div>

                

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-6">
            
           
            
            <div class="portfolio-description" data-aos="fade-up" data-aos-delay="300">
              <h2>$messages['system_integration_support']</h2>
              <p>
                $messages['fsdesc1_1']
              </p>
              <p><strong>$messages['fsdesc1_2']</strong> $messages['fsdesc1_3']</p>
              <p><strong>$messages['fsdesc1_4']</strong> $messages['fsdesc1_5']</p>
            </div>
            
          </div>

        </div>
        <div class="portfolio-description" data-aos="fade-up" data-aos-delay="300">
          <p><strong>$messages['fsdesc1_6']</strong> $messages['fsdesc1_7']</p>
          <ul>
            <li><p><strong>$messages['fsdesc1_8']</strong> $messages['fsdesc1_9']</p></li>
            <li><p><strong>$messages['fsdesc1_10']</strong> $messages['fsdesc1_11']</p></li>
            <li><p><strong>$messages['fsdesc1_12']</strong> $messages['fsdesc1_13']</p></li>
            <li><p><strong>$messages['fsdesc1_14']</strong>$messages['fsdesc1_15']</p></li>
          </ul>
          <p><strong>$messages['fsdesc1_16']</strong> 
                $messages['fsdesc1_17']</p>

          <p><strong>$messages['fsdesc1_18']</strong> 
                $messages['fsdesc1_19']</p> 
          <p><strong>$messages['fsdesc1_20']</strong> </p>  
            <ul>
            <li><p><strong>$messages['fsdesc1_21']</strong> $messages['fsdesc1_22']</p></li>
            <li><p><strong>$messages['fsdesc1_23']</strong> $messages['fsdesc1_24']</p></li>
            <li><p><strong>$messages['fsdesc1_25']</strong> $messages['fsdesc1_26']</p></li>
            <li><p><strong>$messages['fsdesc1_27']</strong>$messages['fsdesc1_28']</p></li>
          </ul> 
          <p><strong>$messages['fsdesc1_29']</strong></p>     
        </div>

      </div>

    </section><!-- /Portfolio Details Section -->

    <div id="ps">

  
</div>
     <!-- Portfolio Details Section -->
    <section id="pro-services" class="portfolio-details section" >

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">
            <div class="col-lg-6">
            
                <div class="portfolio-description"  data-aos="fade-up" data-aos-delay="300">
                    <h2>$messages['pro_services']</h2>
                        <p>
                         $messages['fsdesc2_1']    
                        </p>
                        <p><strong>$messages['fsdesc2_2']</strong></p>
                        <ul>
                          <li><p>$messages['fsdesc2_3']</p></li>
                          <li><p>$messages['fsdesc2_4']</p></li>
                          <li><p>$messages['fsdesc2_5']</p></li>
                        </ul>
                </div>
            </div>

          <div class="col-lg-6">
            <div class="portfolio-details-slider swiper init-swiper">

              <script type="application/json" class="swiper-config">
                {
                  "loop": true,
                  "speed": 600,
                  "autoplay": {
                    "delay": 5000
                  },
                  "slidesPerView": "auto",
                  "pagination": {
                    "el": ".swiper-pagination",
                    "type": "bullets",
                    "clickable": true
                  }
                }
              </script>

              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="static/QAI.png" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="static/secureAI.jpg" alt="">
                </div>

                

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>



        </div>
        <div class="portfolio-description" data-aos="fade-up" data-aos-delay="300">

          <p><strong>$messages['fsdesc2_13']</strong>$messages['fsdesc2_14']</p>
        <p><strong>$messages['fsdesc2_6']</strong></p>
        <ul>
         <li> <p><strong>$messages['fsdesc2_7']</strong>$messages['fsdesc2_8']</p></li>
        <li><p><strong>$messages['fsdesc2_9']</strong>$messages['fsdesc2_10']</p></li>
        <li><p><strong>$messages['fsdesc2_11'] </strong>$messages['fsdesc2_12']</p></li>

        </ul>
        <p><strong>$messages['fsdesc2_15']</strong></p>
        <p>$messages['fsdesc2_16']</p>
      </div>

      </div>

    </section><!-- /Portfolio Details Section -->
<div id="cs">


</div>
     <!-- Portfolio Details Section -->
    <section id="consulting-services" class="portfolio-details section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-6">
            <div class="portfolio-details-slider swiper init-swiper">

              <script type="application/json" class="swiper-config">
                {
                  "loop": true,
                  "speed": 600,
                  "autoplay": {
                    "delay": 5000
                  },
                  "slidesPerView": "auto",
                  "pagination": {
                    "el": ".swiper-pagination",
                    "type": "bullets",
                    "clickable": true
                  }
                }
              </script>

              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="static/QAI.png" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="static/secureAI.jpg" alt="">
                </div>

                

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-6">
           
            <div class="portfolio-description" data-aos="fade-up" data-aos-delay="300">
              <h2>$messages['consulting_services']</h2>
              <p>
                $messages['fsdesc3_1']
              </p>
                <p><strong>$messages['fsdesc3_2']</strong></p>
                <p>$messages['fsdesc3_3']</p>
              </p>
              <p><strong>$messages['fsdesc3_4'] </strong>$messages['fsdesc3_5']</p>

            </div>
          </div>

        </div>
        <div class="portfolio-description" data-aos="fade-up" data-aos-delay="300">
          <p><strong>$messages['fsdesc3_6']</strong></p>
          <p><strong>$messages['fsdesc3_7']</strong>$messages['fsdesc3_8']</p>
          <p><strong>$messages['fsdesc3_9']</strong>$messages['fsdesc3_10']</p>
          <p><strong>$messages['fsdesc3_11'] </strong>$messages['fsdesc3_12']</p>
          <p><strong>$messages['fsdesc3_13']</strong>$messages['fsdesc3_14']</p>
          <p><strong>$messages['fsdesc3_15']</strong>$messages['fsdesc3_16']</p>
          <p><strong>$messages['fsdesc3_17']</strong></p>
          <p><strong></strong>$messages['fsdesc3_18']</p>
          <p><strong>$messages['fsdesc3_19']</strong></p>
        </div>

      </div>

    </section><!-- /Portfolio Details Section -->